workflows/Automate Your Customer Service With WhatsApp Business Cloud & Asana.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "n8n Form Trigger": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          },
          {
            "node": "Asana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-06T11:17:39.977Z",
  "id": "UH3D3VATSXTpcBOQ",
  "isArchived": false,
  "meta": null,
  "name": "Automate Your Customer Service With WhatsApp Business Cloud & Asana",
  "nodes": [
    {
      "parameters": {
        "path": "15e05cd5-c58d-4bf2-8358-f0cd1917334f",
        "formTitle": "Contact Us!",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Whats is your Name?",
              "requiredField": true
            },
            {
              "fieldLabel": "What is your Phone Number?",
              "fieldType": "number",
              "requiredField": true
            },
            {
              "fieldLabel": "What is your problem?",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "e3e57790-df28-4d66-b278-1be9e4ea625b",
      "name": "n8n Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        -80,
        496
      ],
      "webhookId": "15e05cd5-c58d-4bf2-8358-f0cd1917334f",
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "YOUR_PHONE_NUMBER",
        "recipientPhoneNumber": "=+{{ $json['What is your Phone Number?'] }}",
        "textBody": "=Hello {{ $json[\"Whats is your Name?\"] }},\n\nThank you for filling out the contact form.\nOur customer support team will get back to you as soon as possible.",
        "additionalFields": {}
      },
      "id": "31dd2634-c170-41a2-aab3-0e83fa23a2e9",
      "name": "WhatsApp Business Cloud",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        688,
        352
      ],
      "typeVersion": 1,
      "webhookId": "00641311-2595-40e3-88c6-b8d2b8b66a85"
    },
    {
      "parameters": {
        "content": "## Setup\n**Create and integrate your form**\n- You can use n8n native form or services like Typeform and integrate with them.\n- If you rename the phone number field, you also have to change this in the \"WhatsApp Business Cloud\" node \n- If you let people enter their phone number in another format (e.g. text) you may need to add in additional data transformation nodes\n\n**Add your WhatsApp Business Cloud credentials & your phone number**\n- Go into the \"WhatsApp Business Cloud\" node and add your credentials\n- Replace the placeholder by your WhatsApp Business Cloud phone number\n\n**Change the text body to your liking**\n- The text body right now is a confirmation of. contact form. You can change that to your liking & use-case.\n\n**Add your Asana credentials & add your workspace ID**\n- Go into the \"Asana\" node and add your credentials\n- Replace the placeholder by your Asana workspace ID",
        "height": 399.17043043523586,
        "width": 835.3263974964024
      },
      "id": "ecb254cf-e645-4cc8-8f10-0efc0d79b615",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        -112
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Data input\n**Form submissions**\n\nThe default way to get your data into this workflow is a n8n-native form submission. \n\nTechnically you could also change it in a way that you get your data out of another form submission service, if you already have one in place, like Typeform or similar.\n",
        "height": 218.49276831296547,
        "width": 393.38103690955325
      },
      "id": "9fee3059-cfb6-4dbe-9bb6-829bfb2e2e8b",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -528,
        448
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "workspace": "YOUR_WORKSPACE_ID",
        "name": "=Support Ticket -  {{ $json.submittedAt }}",
        "otherProperties": {
          "notes": "={{ $json['What is your problem?'] }}"
        }
      },
      "id": "2fd33ab0-2857-45a1-acc0-85168b9efaf9",
      "name": "Asana",
      "type": "n8n-nodes-base.asana",
      "position": [
        688,
        688
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Confirmation Message\n**WhatsApp Business Cloud**\n\nThe default way to message your customer in this workflow is WhatsApp. \n\nIf your customers prefer e-mail, you can also add this capabilities to this workflow.\n\nYou would just need to change the form in a way to get the users mail, and integrate with a SMTP server or a mail-sending provider.",
        "height": 271.78617944255603,
        "width": 472.6712339560175
      },
      "id": "d8adb43e-3b10-4378-98d5-2db673e6ac03",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        912,
        288
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Task Management\n**Asana**\n\nThe default way to to save the support tickets in this workflow is Asana. \n\nIf your teams work with another task management software, you can replace this node.",
        "height": 206.79421465037234,
        "width": 472.6712339560175
      },
      "id": "6a348fc5-43a1-4aa9-bde2-3be6c8570150",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        912,
        656
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-06T11:17:39.979Z",
      "createdAt": "2025-11-06T11:17:39.979Z",
      "role": "workflow:owner",
      "workflowId": "UH3D3VATSXTpcBOQ",
      "projectId": "zIvgruNDMJwjqAqX"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-06T11:17:39.977Z",
  "versionId": "b08bd5fe-31b6-43dd-8d50-c1410469e733"
}