workflows/DANIA-Qualifier.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-12-03T09:47:01.401Z",
    "createdAt": "2025-12-03T09:47:01.401Z",
    "versionId": "54ca1c14-805b-4062-9763-147c470cdcad",
    "workflowId": "6atay8EaXydAxdli",
    "nodes": [
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "pxnG5d50cxlkcbxj",
            "mode": "list",
            "cachedResultName": "questions",
            "cachedResultUrl": "/projects/zIvgruNDMJwjqAqX/datatables/pxnG5d50cxlkcbxj"
          }
        },
        "id": "cc940f6f-8510-46fe-8212-73cbab37e7fe",
        "name": "get Questions",
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1,
        "position": [
          -1264,
          96
        ],
        "notes": "Lee todas las preguntas"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "zv58HZwtQ2XZtd3c",
            "mode": "list",
            "cachedResultName": "qualifier_sessions",
            "cachedResultUrl": "/projects/zIvgruNDMJwjqAqX/datatables/zv58HZwtQ2XZtd3c"
          },
          "filters": {
            "conditions": [
              {
                "keyName": "sessionId",
                "keyValue": "={{ $('Set – Carry sessionId').item.json.sessionId }}\n"
              }
            ]
          }
        },
        "id": "585bdbea-3a33-4976-9006-503697dd05ce",
        "name": "get Session",
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1,
        "position": [
          -1040,
          96
        ],
        "alwaysOutputData": true,
        "notes": "Trae sesiones (el Code filtra por sessionId)"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "YpZJMtGSK3sqrPr2",
            "mode": "list",
            "cachedResultName": "qualifier_answers",
            "cachedResultUrl": "/projects/zIvgruNDMJwjqAqX/datatables/YpZJMtGSK3sqrPr2"
          },
          "filters": {
            "conditions": [
              {
                "keyName": "sessionId",
                "keyValue": "={{ $item(0).$node[\"Set – Carry sessionId\"].json.sessionId }}"
              }
            ]
          }
        },
        "id": "decd0968-f5d8-4d64-9ee9-3f6bffaa4ffa",
        "name": "get Answers",
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1,
        "position": [
          -816,
          96
        ],
        "alwaysOutputData": true,
        "notes": "Trae respuestas (el Code filtra por sessionId)"
      },
      {
        "parameters": {
          "jsCode": "// ================== answers flow (FULL, multilanguage) ==================\n// n8n 1.120.4 compatible – NO usa .first()\n\n// ---------- utilidades ----------\nconst nowIso = new Date().toISOString();\nconst normalize = (s) => String(s ?? '').trim();\nconst stripDiacritics = (s) => s.normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\nconst toUpperNoAccents = (s) => stripDiacritics(String(s || ''))\n  .toUpperCase()\n  .replace(/\\s+/g, ' ')\n  .trim();\nconst isYes = (s) => /^s(i|í)\\b|^yes\\b|^claro\\b|^correcto\\b/i.test(normalize(s));\nconst isNo  = (s) => /^no\\b|^negativo\\b|^nope\\b/i.test(normalize(s));\n\n// detección muy ligera de idioma (turno actual)\nfunction detectLang(text) {\n  const t = String(text || '').toLowerCase();\n  if (/[áéíóúñ]/.test(t)) return 'es';\n  if (/\\b(hola|gracias|por|quiero|sí|cita|agendar|precio|servicio)\\b/.test(t)) return 'es';\n  if (/\\b(hi|hello|thanks|please|book|schedule|price|service|yes|no)\\b/.test(t)) return 'en';\n  return 'und'; // undetermined\n}\n\nfunction extractAndFixEmail(text){\n  let t = String(text || '').trim();\n  t = t.replace(/[,]/g, '.')\n       .replace(/\\.con\\b/gi, '.com')\n       .replace(/\\.copm\\b/gi, '.com')\n       .replace(/\\.cpm\\b/gi, '.com')\n       .replace(/@g(mai|iam|mial|amil)\\.com\\b/gi, '@gmail.com')\n       .replace(/\\s+/g, ' ');\n  const m = t.match(/[^\\s@]+@[^\\s@]+\\.[^\\s@]+/);\n  return m ? m[0].toLowerCase() : null;\n}\n\nfunction extractName(text){\n  const t = String(text || '').trim();\n  const m = t.match(/(?:me llamo|mi nombre es|i am|my name is)\\s+(.+)/i);\n  const raw = (m ? m[1] : t).replace(/[^\\p{L}\\s'.-]/gu, '').trim();\n  if (!raw) return null;\n  return toUpperNoAccents(raw);\n}\n\nconst COUNTRY_CANON = [\n  'Argentina','Bolivia','Brasil','Chile','Colombia','Costa Rica','Cuba','Ecuador','El Salvador',\n  'España','Estados Unidos','Guatemala','Honduras','México','Nicaragua','Panamá','Paraguay',\n  'Perú','Puerto Rico','República Dominicana','Uruguay','Venezuela'\n];\nconst COUNTRY_ALIASES = new Map([\n  ['mexico','México'],['méjico','México'],['mx','México'],\n  ['usa','Estados Unidos'],['eeuu','Estados Unidos'],['us','Estados Unidos'],\n  ['spain','España'],['peru','Perú'],['venezuela','Venezuela'],\n  ['ecuador','Ecuador'],['colombia','Colombia'],['chile','Chile'],['argentina','Argentina']\n]);\nfunction extractCountry(text){\n  const norm = stripDiacritics(String(text || '').toLowerCase());\n  for (const [k,v] of COUNTRY_ALIASES.entries()) if (norm.includes(k)) return v;\n  const words = String(text || '').split(/[\\s,]+/).filter(Boolean);\n  const guess = words[words.length - 1];\n  if (guess) {\n    const cand = guess[0].toUpperCase() + guess.slice(1).toLowerCase();\n    if (COUNTRY_CANON.includes(cand)) return cand;\n  }\n  return null;\n}\n\nfunction normalizeByType(field, field_type, userMsg){\n  const ft = String(field_type || 'string').toLowerCase();\n\n  if (ft === 'email'){\n    const email = extractAndFixEmail(userMsg);\n    if (!email) return { ok:false, reason:'email', hint:'ej: nombre@dominio.com' };\n    return { ok:true, value: email };\n  }\n  if (field === 'name'){\n    const name = extractName(userMsg) || toUpperNoAccents(userMsg);\n    if (!/^[A-Z][A-Z\\s'.-]+$/.test(name) || name.length < 3)\n      return { ok:false, reason:'name', hint:'ej: JUAN PEREZ' };\n    return { ok:true, value: name };\n  }\n  if (field === 'country'){\n    const country = extractCountry(userMsg);\n    if (!country) return { ok:false, reason:'country', hint:'ej: Ecuador' };\n    return { ok:true, value: country };\n  }\n  // default string\n  return { ok:true, value: String(userMsg).trim() };\n}\n\n// ---------- entradas desde el Trigger ----------\nconst trigArr = $items('Execute Workflow Trigger') || [];\nconst _trigger = (trigArr[0] && trigArr[0].json) || $json || {};\nconst sessionId    = String(_trigger.sessionId || '');\nconst userResponse = String(_trigger.userResponse || '');\n\n// sanity para pruebas\nif (!sessionId) {\n  return [{ json: { output: { message: 'Falta sessionId (prueba local).', action: 'ERROR' } } }];\n}\n\n// ---------- cargar data de nodos previos ----------\nconst qItems = $items('get Questions') || [];\nconst questions = qItems.map(it => ({\n  index: Number(it.json.index),\n  field: String(it.json.field),\n  description: String(it.json.description || it.json.field),\n  question: String(it.json.question),\n  required: Boolean(it.json.required),\n  field_type: String(it.json.field_type || 'string'),\n})).sort((a,b)=>a.index-b.index);\n\n// get Session\nconst sItems = $items('get Session') || [];\nconst sessionRaw = sItems.map(i=>i.json).find(r => String(r.sessionId) === sessionId);\n\n// get Answers\nconst aItems = $items('get Answers') || [];\nconst answersRows = aItems.map(i=>i.json).filter(r => String(r.sessionId) === sessionId);\n\n// ---------- estado de sesión ----------\nconst turnLang = detectLang(userResponse);\nlet session = sessionRaw ? {\n  sessionId: sessionRaw.sessionId,\n  currentIndex: Number(sessionRaw.currentIndex ?? 0),\n  status: sessionRaw.status || 'asking',\n  tries: Number(sessionRaw.tries ?? 0),\n  locked: Boolean(sessionRaw.locked),\n  lockedAt: sessionRaw.lockedAt || null,\n  handoff: sessionRaw.handoff ?? null,\n  // si ya hay lang guardado, respétalo; si no, usa lo detectado en este turno\n  lang: sessionRaw.lang || turnLang || 'und',\n  source: sessionRaw.source || 'whatsapp',\n} : {\n  sessionId, currentIndex: 0, status: 'asking', tries: 0, locked: false, lockedAt: null,\n  handoff: null, lang: turnLang || 'und', source: 'whatsapp'\n};\n\nlet answersKV = Object.fromEntries(answersRows.map(r => [r.field, String(r.value ?? '').trim()]));\nif (!('timezone' in answersKV)) answersKV.timezone = null;\n\n// ---------- candado anti-ráfaga ----------\nif (session.locked && session.lockedAt && Date.now() - Date.parse(session.lockedAt) < 8000){\n  return [{\n    json: { output: { message: 'Un segundo, procesando tu mensaje anterior…', action: 'WAIT' },\n            session, saveAnswers: [], finalData: null }\n  }];\n}\nsession.locked = true; session.lockedAt = nowIso;\n\n// ---------- reglas rápidas ----------\nconst offTopic     = /(precio|plan|servicio|cómo funciona|como funciona|price|plan|service|how does it work)/i.test(userResponse);\nconst wantsBooking = /(agend|cita|reserva|demo|book|schedule)/i.test(userResponse);\nconst stopWords    = /(\\bstop\\b|\\bbaja\\b|elimina.*(datos|informaci[oó]n)|unsubscribe|delete my data)/i.test(userResponse);\nconst goBack       = /(atr[aá]s|regresar|previous|back)/i.test(userResponse);\nconst wantsClose   = /(omitir|continuar|listo|ya|next|skip|done)/i.test(userResponse);\n\n// ---------- helpers ----------\nconst requiredFields = questions.filter(q=>q.required).map(q=>q.field);\nconst allFields = questions.map(q=>q.field);\nconst byIndex = (idx) => questions.find(q => q.index === idx);\nconst firstMissingRequired = () => requiredFields.find(f => !(answersKV[f]||'').trim());\nconst firstMissingAny = () => allFields.find(f => !(answersKV[f]||'').trim());\n\n// ---------- desviaciones ----------\nif (stopWords){\n  session.status = 'delete_requested';\n  session.locked = false; session.lockedAt = nowIso;\n  return [{\n    json: { output: { message: (session.lang === 'en' ? 'Okay, I will delete your data and stop messaging you.' : 'De acuerdo, elimino tus datos y detengo los mensajes.'), action: 'DELETE_ME' },\n            session, saveAnswers: [], finalData: null }\n  }];\n}\n\nif (wantsBooking){\n  session.handoff = 'booking';\n  session.locked = false; session.lockedAt = nowIso;\n  const msg = session.lang === 'en'\n    ? 'Great, I can help you schedule. I will confirm this number and your name. Continue?'\n    : 'Perfecto, te ayudo a agendar. Confirmo este número y tu nombre. ¿Continuamos?';\n  return [{ json: { output: { message: msg, action: 'HANDOFF_BOOKING' }, session, saveAnswers: [], finalData: null } }];\n}\n\nconst curQ0 = byIndex(session.currentIndex) || questions[session.currentIndex];\nif (offTopic && session.status === 'asking' && curQ0){\n  const msg = session.lang === 'en'\n    ? `Let me share that after a couple of key questions. ${curQ0.question}`\n    : `Te cuento rápido y seguimos con lo esencial. Luego de unos datos clave puedo darte más info. ${curQ0.question}`;\n  session.locked = false; session.lockedAt = nowIso;\n  return [{ json: { output: { message: msg, action: 'REFOCUS' }, session, saveAnswers: [], finalData: null } }];\n}\n\nif (goBack && session.status === 'asking'){\n  session.currentIndex = Math.max(0, Number(session.currentIndex || 0) - 1);\n  const backQ = byIndex(session.currentIndex) || questions[session.currentIndex];\n  const msg = backQ ? backQ.question\n    : (session.lang === 'en' ? 'Let’s go one step back. Can you help me with the previous info?' : 'Volvamos un paso. ¿Me ayudas con el dato anterior?');\n  session.locked = false; session.lockedAt = nowIso;\n  return [{ json: { output: { message: msg, action: 'ASK_BACK' }, session, saveAnswers: [], finalData: null } }];\n}\n\n// ---------- flujo principal ----------\nlet saveAnswers = [];\n\n// CONFIRMACIÓN\nif (session.status === 'confirm_pending'){\n  if (isYes(userResponse)){\n    session.status = 'done';\n    session.locked = false; session.lockedAt = nowIso;\n    const ok = session.lang === 'en'\n      ? 'Perfect! Your details have been saved. 🙌'\n      : '¡Perfecto! Ya guardo tus datos en nuestro sistema. 🙌';\n    return [{\n      json: {\n        output: { message: ok, action: 'CONFIRMED' },\n        session,\n        saveAnswers: Object.entries(answersKV).map(([field,value]) => ({ sessionId, field, value })),\n        finalData: { ...answersKV, sessionId, timezone: answersKV.timezone ?? null }\n      }\n    }];\n  }\n  if (isNo(userResponse)){\n    session.status = 'asking';\n    session.locked = false; session.lockedAt = nowIso;\n    const fieldsList = allFields.join(', ');\n    const msg = session.lang === 'en'\n      ? `Got it. Which field would you like to correct? You can tell me one of these: ${fieldsList}.`\n      : `Entendido. ¿Qué campo deseas corregir? Puedes decirme uno de estos: ${fieldsList}.`;\n    return [{ json: { output: { message: msg, action:'ASK_CORRECTION_FIELD' }, session, saveAnswers: [], finalData: null } }];\n  }\n  const lines = questions.map(q => `${q.description}: ${answersKV[q.field] || ''}`);\n  const summary = (session.lang === 'en'\n    ? `To finish, please confirm:\\n${lines.join('\\n')}\\nIs everything correct? (Yes / No)`\n    : `Solo para cerrar, confirma por favor:\\n${lines.join('\\n')}\\n¿Confirmas que todo es correcto? (Sí / No)`);\n  session.locked = false; session.lockedAt = nowIso;\n  return [{ json: { output: { message: summary, action: 'ASK_FINAL_CONFIRM' }, session, saveAnswers: [], finalData: null } }];\n}\n\n// ASKING: capturar respuesta actual\nconst curQ = byIndex(session.currentIndex) || questions[session.currentIndex];\nif (session.status === 'asking' && curQ && userResponse){\n  if (/^(omitir|continuar|listo|ya|siguiente|skip|next|done)$/i.test(userResponse) && !curQ.required){\n    session.currentIndex++; // skip opcional\n  } else {\n    const n = normalizeByType(curQ.field, curQ.field_type, userResponse);\n    if (!n.ok){\n      session.tries = (session.tries || 0) + 1;\n      const hint = n.hint ? ` (${n.hint})` : '';\n      const extra = session.tries >= 2\n        ? (session.lang === 'en' ? ' Would you like me to schedule a call instead?' : ' ¿Prefieres que te agende una cita directamente?')\n        : '';\n      const msg = (session.lang === 'en'\n        ? `It seems the format is not valid${hint}. ${curQ.question}${extra}`\n        : `Formato no válido${hint}. ${curQ.question}${extra}`);\n      session.locked = false; session.lockedAt = nowIso;\n      return [{ json: { output: { message: msg, action: 'REASK_FORMAT' }, session, saveAnswers: [], finalData: null } }];\n    }\n    answersKV[curQ.field] = n.value;\n    if (!('timezone' in answersKV)) answersKV.timezone = null;\n    saveAnswers.push({ sessionId, field: curQ.field, value: n.value });\n    session.currentIndex++;\n    session.tries = 0;\n  }\n}\n\n// siguiente paso\nconst missingReq = firstMissingRequired();\nif (missingReq){\n  const nextReq = questions.find(q => q.field === missingReq);\n  session.currentIndex = nextReq.index;\n  session.locked = false; session.lockedAt = nowIso;\n  return [{ json: { output: { message: nextReq.question, action: 'ASK_REQUIRED' }, session, saveAnswers, finalData: null } }];\n}\n\nconst missingAny = firstMissingAny();\nif (missingAny){\n  const allRequiredDone = !firstMissingRequired();\n  const hasPendingOptional = questions.some(q => !q.required && !normalize(answersKV[q.field] || ''));\n  if (allRequiredDone && hasPendingOptional && wantsClose){\n    const reqLines = questions.filter(q => q.required).map(q => `${q.description}: ${answersKV[q.field] || ''}`);\n    const summary = (session.lang === 'en'\n      ? `Great, here’s what I have:\\n${reqLines.join('\\n')}\\nDo you confirm everything is correct? (Yes / No)`\n      : `Perfecto, esto es lo que tengo:\\n${reqLines.join('\\n')}\\n¿Confirmas que todo es correcto? (Sí / No)`);\n    session.status = 'confirm_pending';\n    session.locked = false; session.lockedAt = nowIso;\n    return [{ json: { output: { message: summary, action: 'ASK_CONFIRM_MIN' }, session, saveAnswers, finalData: null } }];\n  }\n  const nextAny = questions.find(q => q.field === missingAny);\n  session.currentIndex = nextAny.index;\n  session.locked = false; session.lockedAt = nowIso;\n  return [{\n    json: { output: { message: nextAny.question, action: nextAny.required ? 'ASK_REQUIRED' : 'ASK_OPTIONAL' },\n            session, saveAnswers, finalData: null }\n  }];\n}\n\n// todo respondido → confirmación completa\nsession.status = 'confirm_pending';\nconst lines = questions.map(q => `${q.description}: ${answersKV[q.field] || ''}`);\nconst summary = (session.lang === 'en'\n  ? `Great, here’s what I have:\\n${lines.join('\\n')}\\nDo you confirm everything is correct? (Yes / No)`\n  : `Perfecto, esto es lo que tengo:\\n${lines.join('\\n')}\\n¿Confirmas que todo es correcto? (Sí / No)`);\nsession.locked = false; session.lockedAt = nowIso;\nreturn [{ json: { output: { message: summary, action: 'ASK_CONFIRM' }, session, saveAnswers, finalData: null } }];\n\n// ================== /answers flow ==================\n"
        },
        "id": "d9d2db8d-4cd2-43fa-93d0-c2443eae8df7",
        "name": "answers flow",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -592,
          96
        ],
        "notes": "Normaliza/valida, decide siguiente pregunta, confirma y prepara saveAnswers/finalData"
      },
      {
        "parameters": {
          "operation": "upsert",
          "dataTableId": {
            "__rl": true,
            "value": "zv58HZwtQ2XZtd3c",
            "mode": "list",
            "cachedResultName": "qualifier_sessions",
            "cachedResultUrl": "/projects/zIvgruNDMJwjqAqX/datatables/zv58HZwtQ2XZtd3c"
          },
          "filters": {
            "conditions": [
              {
                "keyName": "sessionId",
                "condition": "isNotEmpty"
              }
            ]
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "sessionId": "={{ $json.session.sessionId }}",
              "currentIndex": "={{ Number($json.session.currentIndex || 0) }}",
              "status": "={{ String($json.session.status || 'asking') }}",
              "tries": "={{ Number($json.session.tries || 0) }}",
              "locked": "={{ $json.session.locked === true || $json.session.locked === 'true' }}",
              "handoff": "={{ $json.session.handoff || null }}",
              "lang": "={{ $json.session.lang }}",
              "source": "={{ $json.session.source || 'whatsapp' }}"
            },
            "matchingColumns": [
              "sessionId"
            ],
            "schema": [
              {
                "id": "sessionId",
                "displayName": "sessionId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "currentIndex",
                "displayName": "currentIndex",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "tries",
                "displayName": "tries",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "locked",
                "displayName": "locked",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "boolean",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "handoff",
                "displayName": "handoff",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "lang",
                "displayName": "lang",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "source",
                "displayName": "source",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "e670b0ba-5346-417a-a490-674e60be8469",
        "name": "save Session",
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1,
        "position": [
          -336,
          208
        ],
        "notesInFlow": false,
        "retryOnFail": false,
        "alwaysOutputData": false
      },
      {
        "parameters": {
          "conditions": {
            "number": [
              {
                "value1": "={{ $json.saveAnswers.length }}",
                "operation": "larger"
              }
            ]
          }
        },
        "id": "4375e875-7bcb-4f6a-b116-21fa0254c5f6",
        "name": "New Answers?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          -144,
          48
        ]
      },
      {
        "parameters": {
          "fieldToSplitOut": "={{ $json.saveAnswers }}",
          "options": {}
        },
        "id": "d6624361-2dae-4d11-83a3-56da88301b91",
        "name": "Split Answers",
        "type": "n8n-nodes-base.itemLists",
        "typeVersion": 1,
        "position": [
          112,
          128
        ],
        "notes": "Convierte saveAnswers[] a items"
      },
      {
        "parameters": {
          "operation": "upsert",
          "dataTableId": {
            "__rl": true,
            "value": "YpZJMtGSK3sqrPr2",
            "mode": "list",
            "cachedResultName": "qualifier_answers",
            "cachedResultUrl": "/projects/zIvgruNDMJwjqAqX/datatables/YpZJMtGSK3sqrPr2"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "sessionId": "={{ $json.sessionId }}",
              "field": "={{ $json.field }}",
              "value": "={{ $json.value }}"
            },
            "matchingColumns": [
              "sessionId",
              "field"
            ],
            "schema": [
              {
                "id": "sessionId",
                "displayName": "sessionId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "field",
                "displayName": "field",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "value",
                "displayName": "value",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "fcab408f-86ed-4de7-beeb-52eb2422f86e",
        "name": "save Answers",
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1,
        "position": [
          320,
          128
        ],
        "notes": "Guarda cada par (field,value) normalizado"
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.output.action }}",
                "value2": "CONFIRMED"
              }
            ]
          }
        },
        "id": "f459a1bc-95f0-4bcd-a3a0-116a5ef93ac3",
        "name": "is Confirmed?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          512,
          64
        ]
      },
      {
        "parameters": {
          "jsCode": "return [{ json: $json.finalData }];"
        },
        "id": "0a94b42c-9bd0-491d-9a52-5036b191f423",
        "name": "Build Lead Document",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          752,
          -96
        ],
        "notes": "Deja el JSON del lead listo para insertar"
      },
      {
        "parameters": {
          "operation": "insert",
          "collection": "leads",
          "options": {}
        },
        "id": "ef5f6788-a801-45f9-8e14-8d4bc588605f",
        "name": "MongoDB Insert",
        "type": "n8n-nodes-base.mongoDb",
        "typeVersion": 1,
        "position": [
          976,
          -96
        ],
        "credentials": {
          "mongoDb": {
            "id": "KNCVFnX6uXTL664z",
            "name": "MongoDB n8n"
          }
        },
        "notes": "Inserta el lead con timezone:null"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          1200,
          -96
        ],
        "id": "2dab9112-bec2-49e9-9bce-563fa543026e",
        "name": "Send a message",
        "webhookId": "d2ecdee9-9dd9-4d7c-b4d1-437f017a4f3d",
        "credentials": {
          "gmailOAuth2": {
            "id": "lJvypbA2AJhKcdY5",
            "name": "Gmail API"
          }
        },
        "disabled": true,
        "notes": "Notifica a la agencia (configura To/Subject/Body)"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "output-msg",
                "name": "output",
                "value": "={{ $json.output?.message || $node[\"answers flow\"].json.output.message }}\n\n",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "55c69ce7-e5ce-4f82-85dc-6b0689153c29",
        "name": "Format Output",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          752,
          96
        ],
        "notes": "Asegura un string para el Gatekeeper"
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "sessionId"
              },
              {
                "name": "userResponse"
              },
              {
                "name": "lang"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -1744,
          96
        ],
        "id": "8c4772dd-d0ac-4c24-8810-4a225993b944",
        "name": "Execute Workflow Trigger"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "c8ce1c98-d789-49a3-8a3f-6484c929a514",
                "name": "sessionRow.sessionId",
                "value": "={{ String($json.session.sessionId || '') }}",
                "type": "string"
              },
              {
                "id": "c35ae595-0c44-416f-bbcc-78f0d97696df",
                "name": "sessionRow.currentIndex",
                "value": "={{ Number($json.session.currentIndex || 0) }}",
                "type": "number"
              },
              {
                "id": "7d7d1229-ecae-40b2-b5a6-9dbe0157858f",
                "name": "sessionRow.status",
                "value": "={{ String($json.session.status || 'asking') }}",
                "type": "string"
              },
              {
                "id": "16fba85a-3973-4193-a444-ae52db7d3caa",
                "name": "sessionRow.tries",
                "value": "={{ Number($json.session.tries || 0) }}",
                "type": "number"
              },
              {
                "id": "77a7ad39-a4c1-42fd-94b8-08a27132d936",
                "name": "sessionRow.locked",
                "value": "={{ !!$json.session.locked }}",
                "type": "boolean"
              },
              {
                "id": "7ecc7857-8fce-430c-8d8e-f43eb65cdfb4",
                "name": "sessionRow.lockedAt",
                "value": "={{ $json.session.lockedAt ? new Date($json.session.lockedAt).toISOString() : null }}",
                "type": "string"
              },
              {
                "id": "3761f7e9-2801-4b96-9783-89688bef405c",
                "name": "sessionRow.handoff",
                "value": "={{ $json.session.handoff || null }}",
                "type": "string"
              },
              {
                "id": "358c4e25-5725-407d-8539-42abdf49e62a",
                "name": "sessionRow.lang",
                "value": "={{ $json.session.lang || 'es' }}",
                "type": "string"
              },
              {
                "id": "2a0369d4-457e-4866-8056-1e2fe74a431a",
                "name": "sessionRow.source",
                "value": "={{ $json.session.source || 'whatsapp' }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -144,
          224
        ],
        "id": "afbc629c-852b-47b6-ac8f-5f0f6911e808",
        "name": "set Session"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "67438e29-ff68-466c-8bd2-d1589348bae4",
                "name": "sessionId",
                "value": "={{ $json.sessionId }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1504,
          96
        ],
        "id": "efc80b9e-1c3f-4091-9f0c-9aa00b5361ab",
        "name": "Set – Carry sessionId"
      }
    ],
    "connections": {
      "get Questions": {
        "main": [
          [
            {
              "node": "get Session",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "get Session": {
        "main": [
          [
            {
              "node": "get Answers",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "get Answers": {
        "main": [
          [
            {
              "node": "answers flow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "answers flow": {
        "main": [
          [
            {
              "node": "save Session",
              "type": "main",
              "index": 0
            },
            {
              "node": "New Answers?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "New Answers?": {
        "main": [
          [
            {
              "node": "Split Answers",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "is Confirmed?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Answers": {
        "main": [
          [
            {
              "node": "save Answers",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "save Answers": {
        "main": [
          [
            {
              "node": "is Confirmed?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "is Confirmed?": {
        "main": [
          [
            {
              "node": "Build Lead Document",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Format Output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Lead Document": {
        "main": [
          [
            {
              "node": "MongoDB Insert",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "MongoDB Insert": {
        "main": [
          []
        ]
      },
      "save Session": {
        "main": [
          [
            {
              "node": "set Session",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Set – Carry sessionId",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "set Session": {
        "main": [
          [
            {
              "node": "Split Answers",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set – Carry sessionId": {
        "main": [
          [
            {
              "node": "get Questions",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "54ca1c14-805b-4062-9763-147c470cdcad",
  "connections": {
    "get Questions": {
      "main": [
        [
          {
            "node": "get Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get Session": {
      "main": [
        [
          {
            "node": "get Answers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get Answers": {
      "main": [
        [
          {
            "node": "answers flow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "answers flow": {
      "main": [
        [
          {
            "node": "save Session",
            "type": "main",
            "index": 0
          },
          {
            "node": "New Answers?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Answers?": {
      "main": [
        [
          {
            "node": "Split Answers",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "is Confirmed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Answers": {
      "main": [
        [
          {
            "node": "save Answers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "save Answers": {
      "main": [
        [
          {
            "node": "is Confirmed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is Confirmed?": {
      "main": [
        [
          {
            "node": "Build Lead Document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Lead Document": {
      "main": [
        [
          {
            "node": "MongoDB Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Insert": {
      "main": [
        []
      ]
    },
    "save Session": {
      "main": [
        [
          {
            "node": "set Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Set – Carry sessionId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set Session": {
      "main": [
        [
          {
            "node": "Split Answers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set – Carry sessionId": {
      "main": [
        [
          {
            "node": "get Questions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-27T00:26:14.315Z",
  "id": "6atay8EaXydAxdli",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "DANIA-Qualifier",
  "nodes": [
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "pxnG5d50cxlkcbxj",
          "mode": "list",
          "cachedResultName": "questions",
          "cachedResultUrl": "/projects/zIvgruNDMJwjqAqX/datatables/pxnG5d50cxlkcbxj"
        }
      },
      "id": "cc940f6f-8510-46fe-8212-73cbab37e7fe",
      "name": "get Questions",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1264,
        96
      ],
      "notes": "Lee todas las preguntas"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "zv58HZwtQ2XZtd3c",
          "mode": "list",
          "cachedResultName": "qualifier_sessions",
          "cachedResultUrl": "/projects/zIvgruNDMJwjqAqX/datatables/zv58HZwtQ2XZtd3c"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "sessionId",
              "keyValue": "={{ $('Set – Carry sessionId').item.json.sessionId }}\n"
            }
          ]
        }
      },
      "id": "585bdbea-3a33-4976-9006-503697dd05ce",
      "name": "get Session",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1040,
        96
      ],
      "alwaysOutputData": true,
      "notes": "Trae sesiones (el Code filtra por sessionId)"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "YpZJMtGSK3sqrPr2",
          "mode": "list",
          "cachedResultName": "qualifier_answers",
          "cachedResultUrl": "/projects/zIvgruNDMJwjqAqX/datatables/YpZJMtGSK3sqrPr2"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "sessionId",
              "keyValue": "={{ $item(0).$node[\"Set – Carry sessionId\"].json.sessionId }}"
            }
          ]
        }
      },
      "id": "decd0968-f5d8-4d64-9ee9-3f6bffaa4ffa",
      "name": "get Answers",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -816,
        96
      ],
      "alwaysOutputData": true,
      "notes": "Trae respuestas (el Code filtra por sessionId)"
    },
    {
      "parameters": {
        "jsCode": "// ================== answers flow (FULL, multilanguage) ==================\n// n8n 1.120.4 compatible – NO usa .first()\n\n// ---------- utilidades ----------\nconst nowIso = new Date().toISOString();\nconst normalize = (s) => String(s ?? '').trim();\nconst stripDiacritics = (s) => s.normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\nconst toUpperNoAccents = (s) => stripDiacritics(String(s || ''))\n  .toUpperCase()\n  .replace(/\\s+/g, ' ')\n  .trim();\nconst isYes = (s) => /^s(i|í)\\b|^yes\\b|^claro\\b|^correcto\\b/i.test(normalize(s));\nconst isNo  = (s) => /^no\\b|^negativo\\b|^nope\\b/i.test(normalize(s));\n\n// detección muy ligera de idioma (turno actual)\nfunction detectLang(text) {\n  const t = String(text || '').toLowerCase();\n  if (/[áéíóúñ]/.test(t)) return 'es';\n  if (/\\b(hola|gracias|por|quiero|sí|cita|agendar|precio|servicio)\\b/.test(t)) return 'es';\n  if (/\\b(hi|hello|thanks|please|book|schedule|price|service|yes|no)\\b/.test(t)) return 'en';\n  return 'und'; // undetermined\n}\n\nfunction extractAndFixEmail(text){\n  let t = String(text || '').trim();\n  t = t.replace(/[,]/g, '.')\n       .replace(/\\.con\\b/gi, '.com')\n       .replace(/\\.copm\\b/gi, '.com')\n       .replace(/\\.cpm\\b/gi, '.com')\n       .replace(/@g(mai|iam|mial|amil)\\.com\\b/gi, '@gmail.com')\n       .replace(/\\s+/g, ' ');\n  const m = t.match(/[^\\s@]+@[^\\s@]+\\.[^\\s@]+/);\n  return m ? m[0].toLowerCase() : null;\n}\n\nfunction extractName(text){\n  const t = String(text || '').trim();\n  const m = t.match(/(?:me llamo|mi nombre es|i am|my name is)\\s+(.+)/i);\n  const raw = (m ? m[1] : t).replace(/[^\\p{L}\\s'.-]/gu, '').trim();\n  if (!raw) return null;\n  return toUpperNoAccents(raw);\n}\n\nconst COUNTRY_CANON = [\n  'Argentina','Bolivia','Brasil','Chile','Colombia','Costa Rica','Cuba','Ecuador','El Salvador',\n  'España','Estados Unidos','Guatemala','Honduras','México','Nicaragua','Panamá','Paraguay',\n  'Perú','Puerto Rico','República Dominicana','Uruguay','Venezuela'\n];\nconst COUNTRY_ALIASES = new Map([\n  ['mexico','México'],['méjico','México'],['mx','México'],\n  ['usa','Estados Unidos'],['eeuu','Estados Unidos'],['us','Estados Unidos'],\n  ['spain','España'],['peru','Perú'],['venezuela','Venezuela'],\n  ['ecuador','Ecuador'],['colombia','Colombia'],['chile','Chile'],['argentina','Argentina']\n]);\nfunction extractCountry(text){\n  const norm = stripDiacritics(String(text || '').toLowerCase());\n  for (const [k,v] of COUNTRY_ALIASES.entries()) if (norm.includes(k)) return v;\n  const words = String(text || '').split(/[\\s,]+/).filter(Boolean);\n  const guess = words[words.length - 1];\n  if (guess) {\n    const cand = guess[0].toUpperCase() + guess.slice(1).toLowerCase();\n    if (COUNTRY_CANON.includes(cand)) return cand;\n  }\n  return null;\n}\n\nfunction normalizeByType(field, field_type, userMsg){\n  const ft = String(field_type || 'string').toLowerCase();\n\n  if (ft === 'email'){\n    const email = extractAndFixEmail(userMsg);\n    if (!email) return { ok:false, reason:'email', hint:'ej: nombre@dominio.com' };\n    return { ok:true, value: email };\n  }\n  if (field === 'name'){\n    const name = extractName(userMsg) || toUpperNoAccents(userMsg);\n    if (!/^[A-Z][A-Z\\s'.-]+$/.test(name) || name.length < 3)\n      return { ok:false, reason:'name', hint:'ej: JUAN PEREZ' };\n    return { ok:true, value: name };\n  }\n  if (field === 'country'){\n    const country = extractCountry(userMsg);\n    if (!country) return { ok:false, reason:'country', hint:'ej: Ecuador' };\n    return { ok:true, value: country };\n  }\n  // default string\n  return { ok:true, value: String(userMsg).trim() };\n}\n\n// ---------- entradas desde el Trigger ----------\nconst trigArr = $items('Execute Workflow Trigger') || [];\nconst _trigger = (trigArr[0] && trigArr[0].json) || $json || {};\nconst sessionId    = String(_trigger.sessionId || '');\nconst userResponse = String(_trigger.userResponse || '');\n\n// sanity para pruebas\nif (!sessionId) {\n  return [{ json: { output: { message: 'Falta sessionId (prueba local).', action: 'ERROR' } } }];\n}\n\n// ---------- cargar data de nodos previos ----------\nconst qItems = $items('get Questions') || [];\nconst questions = qItems.map(it => ({\n  index: Number(it.json.index),\n  field: String(it.json.field),\n  description: String(it.json.description || it.json.field),\n  question: String(it.json.question),\n  required: Boolean(it.json.required),\n  field_type: String(it.json.field_type || 'string'),\n})).sort((a,b)=>a.index-b.index);\n\n// get Session\nconst sItems = $items('get Session') || [];\nconst sessionRaw = sItems.map(i=>i.json).find(r => String(r.sessionId) === sessionId);\n\n// get Answers\nconst aItems = $items('get Answers') || [];\nconst answersRows = aItems.map(i=>i.json).filter(r => String(r.sessionId) === sessionId);\n\n// ---------- estado de sesión ----------\nconst turnLang = detectLang(userResponse);\nlet session = sessionRaw ? {\n  sessionId: sessionRaw.sessionId,\n  currentIndex: Number(sessionRaw.currentIndex ?? 0),\n  status: sessionRaw.status || 'asking',\n  tries: Number(sessionRaw.tries ?? 0),\n  locked: Boolean(sessionRaw.locked),\n  lockedAt: sessionRaw.lockedAt || null,\n  handoff: sessionRaw.handoff ?? null,\n  // si ya hay lang guardado, respétalo; si no, usa lo detectado en este turno\n  lang: sessionRaw.lang || turnLang || 'und',\n  source: sessionRaw.source || 'whatsapp',\n} : {\n  sessionId, currentIndex: 0, status: 'asking', tries: 0, locked: false, lockedAt: null,\n  handoff: null, lang: turnLang || 'und', source: 'whatsapp'\n};\n\nlet answersKV = Object.fromEntries(answersRows.map(r => [r.field, String(r.value ?? '').trim()]));\nif (!('timezone' in answersKV)) answersKV.timezone = null;\n\n// ---------- candado anti-ráfaga ----------\nif (session.locked && session.lockedAt && Date.now() - Date.parse(session.lockedAt) < 8000){\n  return [{\n    json: { output: { message: 'Un segundo, procesando tu mensaje anterior…', action: 'WAIT' },\n            session, saveAnswers: [], finalData: null }\n  }];\n}\nsession.locked = true; session.lockedAt = nowIso;\n\n// ---------- reglas rápidas ----------\nconst offTopic     = /(precio|plan|servicio|cómo funciona|como funciona|price|plan|service|how does it work)/i.test(userResponse);\nconst wantsBooking = /(agend|cita|reserva|demo|book|schedule)/i.test(userResponse);\nconst stopWords    = /(\\bstop\\b|\\bbaja\\b|elimina.*(datos|informaci[oó]n)|unsubscribe|delete my data)/i.test(userResponse);\nconst goBack       = /(atr[aá]s|regresar|previous|back)/i.test(userResponse);\nconst wantsClose   = /(omitir|continuar|listo|ya|next|skip|done)/i.test(userResponse);\n\n// ---------- helpers ----------\nconst requiredFields = questions.filter(q=>q.required).map(q=>q.field);\nconst allFields = questions.map(q=>q.field);\nconst byIndex = (idx) => questions.find(q => q.index === idx);\nconst firstMissingRequired = () => requiredFields.find(f => !(answersKV[f]||'').trim());\nconst firstMissingAny = () => allFields.find(f => !(answersKV[f]||'').trim());\n\n// ---------- desviaciones ----------\nif (stopWords){\n  session.status = 'delete_requested';\n  session.locked = false; session.lockedAt = nowIso;\n  return [{\n    json: { output: { message: (session.lang === 'en' ? 'Okay, I will delete your data and stop messaging you.' : 'De acuerdo, elimino tus datos y detengo los mensajes.'), action: 'DELETE_ME' },\n            session, saveAnswers: [], finalData: null }\n  }];\n}\n\nif (wantsBooking){\n  session.handoff = 'booking';\n  session.locked = false; session.lockedAt = nowIso;\n  const msg = session.lang === 'en'\n    ? 'Great, I can help you schedule. I will confirm this number and your name. Continue?'\n    : 'Perfecto, te ayudo a agendar. Confirmo este número y tu nombre. ¿Continuamos?';\n  return [{ json: { output: { message: msg, action: 'HANDOFF_BOOKING' }, session, saveAnswers: [], finalData: null } }];\n}\n\nconst curQ0 = byIndex(session.currentIndex) || questions[session.currentIndex];\nif (offTopic && session.status === 'asking' && curQ0){\n  const msg = session.lang === 'en'\n    ? `Let me share that after a couple of key questions. ${curQ0.question}`\n    : `Te cuento rápido y seguimos con lo esencial. Luego de unos datos clave puedo darte más info. ${curQ0.question}`;\n  session.locked = false; session.lockedAt = nowIso;\n  return [{ json: { output: { message: msg, action: 'REFOCUS' }, session, saveAnswers: [], finalData: null } }];\n}\n\nif (goBack && session.status === 'asking'){\n  session.currentIndex = Math.max(0, Number(session.currentIndex || 0) - 1);\n  const backQ = byIndex(session.currentIndex) || questions[session.currentIndex];\n  const msg = backQ ? backQ.question\n    : (session.lang === 'en' ? 'Let’s go one step back. Can you help me with the previous info?' : 'Volvamos un paso. ¿Me ayudas con el dato anterior?');\n  session.locked = false; session.lockedAt = nowIso;\n  return [{ json: { output: { message: msg, action: 'ASK_BACK' }, session, saveAnswers: [], finalData: null } }];\n}\n\n// ---------- flujo principal ----------\nlet saveAnswers = [];\n\n// CONFIRMACIÓN\nif (session.status === 'confirm_pending'){\n  if (isYes(userResponse)){\n    session.status = 'done';\n    session.locked = false; session.lockedAt = nowIso;\n    const ok = session.lang === 'en'\n      ? 'Perfect! Your details have been saved. 🙌'\n      : '¡Perfecto! Ya guardo tus datos en nuestro sistema. 🙌';\n    return [{\n      json: {\n        output: { message: ok, action: 'CONFIRMED' },\n        session,\n        saveAnswers: Object.entries(answersKV).map(([field,value]) => ({ sessionId, field, value })),\n        finalData: { ...answersKV, sessionId, timezone: answersKV.timezone ?? null }\n      }\n    }];\n  }\n  if (isNo(userResponse)){\n    session.status = 'asking';\n    session.locked = false; session.lockedAt = nowIso;\n    const fieldsList = allFields.join(', ');\n    const msg = session.lang === 'en'\n      ? `Got it. Which field would you like to correct? You can tell me one of these: ${fieldsList}.`\n      : `Entendido. ¿Qué campo deseas corregir? Puedes decirme uno de estos: ${fieldsList}.`;\n    return [{ json: { output: { message: msg, action:'ASK_CORRECTION_FIELD' }, session, saveAnswers: [], finalData: null } }];\n  }\n  const lines = questions.map(q => `${q.description}: ${answersKV[q.field] || ''}`);\n  const summary = (session.lang === 'en'\n    ? `To finish, please confirm:\\n${lines.join('\\n')}\\nIs everything correct? (Yes / No)`\n    : `Solo para cerrar, confirma por favor:\\n${lines.join('\\n')}\\n¿Confirmas que todo es correcto? (Sí / No)`);\n  session.locked = false; session.lockedAt = nowIso;\n  return [{ json: { output: { message: summary, action: 'ASK_FINAL_CONFIRM' }, session, saveAnswers: [], finalData: null } }];\n}\n\n// ASKING: capturar respuesta actual\nconst curQ = byIndex(session.currentIndex) || questions[session.currentIndex];\nif (session.status === 'asking' && curQ && userResponse){\n  if (/^(omitir|continuar|listo|ya|siguiente|skip|next|done)$/i.test(userResponse) && !curQ.required){\n    session.currentIndex++; // skip opcional\n  } else {\n    const n = normalizeByType(curQ.field, curQ.field_type, userResponse);\n    if (!n.ok){\n      session.tries = (session.tries || 0) + 1;\n      const hint = n.hint ? ` (${n.hint})` : '';\n      const extra = session.tries >= 2\n        ? (session.lang === 'en' ? ' Would you like me to schedule a call instead?' : ' ¿Prefieres que te agende una cita directamente?')\n        : '';\n      const msg = (session.lang === 'en'\n        ? `It seems the format is not valid${hint}. ${curQ.question}${extra}`\n        : `Formato no válido${hint}. ${curQ.question}${extra}`);\n      session.locked = false; session.lockedAt = nowIso;\n      return [{ json: { output: { message: msg, action: 'REASK_FORMAT' }, session, saveAnswers: [], finalData: null } }];\n    }\n    answersKV[curQ.field] = n.value;\n    if (!('timezone' in answersKV)) answersKV.timezone = null;\n    saveAnswers.push({ sessionId, field: curQ.field, value: n.value });\n    session.currentIndex++;\n    session.tries = 0;\n  }\n}\n\n// siguiente paso\nconst missingReq = firstMissingRequired();\nif (missingReq){\n  const nextReq = questions.find(q => q.field === missingReq);\n  session.currentIndex = nextReq.index;\n  session.locked = false; session.lockedAt = nowIso;\n  return [{ json: { output: { message: nextReq.question, action: 'ASK_REQUIRED' }, session, saveAnswers, finalData: null } }];\n}\n\nconst missingAny = firstMissingAny();\nif (missingAny){\n  const allRequiredDone = !firstMissingRequired();\n  const hasPendingOptional = questions.some(q => !q.required && !normalize(answersKV[q.field] || ''));\n  if (allRequiredDone && hasPendingOptional && wantsClose){\n    const reqLines = questions.filter(q => q.required).map(q => `${q.description}: ${answersKV[q.field] || ''}`);\n    const summary = (session.lang === 'en'\n      ? `Great, here’s what I have:\\n${reqLines.join('\\n')}\\nDo you confirm everything is correct? (Yes / No)`\n      : `Perfecto, esto es lo que tengo:\\n${reqLines.join('\\n')}\\n¿Confirmas que todo es correcto? (Sí / No)`);\n    session.status = 'confirm_pending';\n    session.locked = false; session.lockedAt = nowIso;\n    return [{ json: { output: { message: summary, action: 'ASK_CONFIRM_MIN' }, session, saveAnswers, finalData: null } }];\n  }\n  const nextAny = questions.find(q => q.field === missingAny);\n  session.currentIndex = nextAny.index;\n  session.locked = false; session.lockedAt = nowIso;\n  return [{\n    json: { output: { message: nextAny.question, action: nextAny.required ? 'ASK_REQUIRED' : 'ASK_OPTIONAL' },\n            session, saveAnswers, finalData: null }\n  }];\n}\n\n// todo respondido → confirmación completa\nsession.status = 'confirm_pending';\nconst lines = questions.map(q => `${q.description}: ${answersKV[q.field] || ''}`);\nconst summary = (session.lang === 'en'\n  ? `Great, here’s what I have:\\n${lines.join('\\n')}\\nDo you confirm everything is correct? (Yes / No)`\n  : `Perfecto, esto es lo que tengo:\\n${lines.join('\\n')}\\n¿Confirmas que todo es correcto? (Sí / No)`);\nsession.locked = false; session.lockedAt = nowIso;\nreturn [{ json: { output: { message: summary, action: 'ASK_CONFIRM' }, session, saveAnswers, finalData: null } }];\n\n// ================== /answers flow ==================\n"
      },
      "id": "d9d2db8d-4cd2-43fa-93d0-c2443eae8df7",
      "name": "answers flow",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -592,
        96
      ],
      "notes": "Normaliza/valida, decide siguiente pregunta, confirma y prepara saveAnswers/finalData"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "zv58HZwtQ2XZtd3c",
          "mode": "list",
          "cachedResultName": "qualifier_sessions",
          "cachedResultUrl": "/projects/zIvgruNDMJwjqAqX/datatables/zv58HZwtQ2XZtd3c"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "sessionId",
              "condition": "isNotEmpty"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sessionId": "={{ $json.session.sessionId }}",
            "currentIndex": "={{ Number($json.session.currentIndex || 0) }}",
            "status": "={{ String($json.session.status || 'asking') }}",
            "tries": "={{ Number($json.session.tries || 0) }}",
            "locked": "={{ $json.session.locked === true || $json.session.locked === 'true' }}",
            "handoff": "={{ $json.session.handoff || null }}",
            "lang": "={{ $json.session.lang }}",
            "source": "={{ $json.session.source || 'whatsapp' }}"
          },
          "matchingColumns": [
            "sessionId"
          ],
          "schema": [
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "currentIndex",
              "displayName": "currentIndex",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "tries",
              "displayName": "tries",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "locked",
              "displayName": "locked",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "handoff",
              "displayName": "handoff",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lang",
              "displayName": "lang",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "e670b0ba-5346-417a-a490-674e60be8469",
      "name": "save Session",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -336,
        208
      ],
      "notesInFlow": false,
      "retryOnFail": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.saveAnswers.length }}",
              "operation": "larger"
            }
          ]
        }
      },
      "id": "4375e875-7bcb-4f6a-b116-21fa0254c5f6",
      "name": "New Answers?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -144,
        48
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "={{ $json.saveAnswers }}",
        "options": {}
      },
      "id": "d6624361-2dae-4d11-83a3-56da88301b91",
      "name": "Split Answers",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        112,
        128
      ],
      "notes": "Convierte saveAnswers[] a items"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "YpZJMtGSK3sqrPr2",
          "mode": "list",
          "cachedResultName": "qualifier_answers",
          "cachedResultUrl": "/projects/zIvgruNDMJwjqAqX/datatables/YpZJMtGSK3sqrPr2"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sessionId": "={{ $json.sessionId }}",
            "field": "={{ $json.field }}",
            "value": "={{ $json.value }}"
          },
          "matchingColumns": [
            "sessionId",
            "field"
          ],
          "schema": [
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "field",
              "displayName": "field",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "value",
              "displayName": "value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "fcab408f-86ed-4de7-beeb-52eb2422f86e",
      "name": "save Answers",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        320,
        128
      ],
      "notes": "Guarda cada par (field,value) normalizado"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.output.action }}",
              "value2": "CONFIRMED"
            }
          ]
        }
      },
      "id": "f459a1bc-95f0-4bcd-a3a0-116a5ef93ac3",
      "name": "is Confirmed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        512,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: $json.finalData }];"
      },
      "id": "0a94b42c-9bd0-491d-9a52-5036b191f423",
      "name": "Build Lead Document",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        -96
      ],
      "notes": "Deja el JSON del lead listo para insertar"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "leads",
        "options": {}
      },
      "id": "ef5f6788-a801-45f9-8e14-8d4bc588605f",
      "name": "MongoDB Insert",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        976,
        -96
      ],
      "credentials": {
        "mongoDb": {
          "id": "KNCVFnX6uXTL664z",
          "name": "MongoDB n8n"
        }
      },
      "notes": "Inserta el lead con timezone:null"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1200,
        -96
      ],
      "id": "2dab9112-bec2-49e9-9bce-563fa543026e",
      "name": "Send a message",
      "webhookId": "d2ecdee9-9dd9-4d7c-b4d1-437f017a4f3d",
      "credentials": {
        "gmailOAuth2": {
          "id": "lJvypbA2AJhKcdY5",
          "name": "Gmail API"
        }
      },
      "disabled": true,
      "notes": "Notifica a la agencia (configura To/Subject/Body)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "output-msg",
              "name": "output",
              "value": "={{ $json.output?.message || $node[\"answers flow\"].json.output.message }}\n\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "55c69ce7-e5ce-4f82-85dc-6b0689153c29",
      "name": "Format Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        752,
        96
      ],
      "notes": "Asegura un string para el Gatekeeper"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "sessionId"
            },
            {
              "name": "userResponse"
            },
            {
              "name": "lang"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1744,
        96
      ],
      "id": "8c4772dd-d0ac-4c24-8810-4a225993b944",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c8ce1c98-d789-49a3-8a3f-6484c929a514",
              "name": "sessionRow.sessionId",
              "value": "={{ String($json.session.sessionId || '') }}",
              "type": "string"
            },
            {
              "id": "c35ae595-0c44-416f-bbcc-78f0d97696df",
              "name": "sessionRow.currentIndex",
              "value": "={{ Number($json.session.currentIndex || 0) }}",
              "type": "number"
            },
            {
              "id": "7d7d1229-ecae-40b2-b5a6-9dbe0157858f",
              "name": "sessionRow.status",
              "value": "={{ String($json.session.status || 'asking') }}",
              "type": "string"
            },
            {
              "id": "16fba85a-3973-4193-a444-ae52db7d3caa",
              "name": "sessionRow.tries",
              "value": "={{ Number($json.session.tries || 0) }}",
              "type": "number"
            },
            {
              "id": "77a7ad39-a4c1-42fd-94b8-08a27132d936",
              "name": "sessionRow.locked",
              "value": "={{ !!$json.session.locked }}",
              "type": "boolean"
            },
            {
              "id": "7ecc7857-8fce-430c-8d8e-f43eb65cdfb4",
              "name": "sessionRow.lockedAt",
              "value": "={{ $json.session.lockedAt ? new Date($json.session.lockedAt).toISOString() : null }}",
              "type": "string"
            },
            {
              "id": "3761f7e9-2801-4b96-9783-89688bef405c",
              "name": "sessionRow.handoff",
              "value": "={{ $json.session.handoff || null }}",
              "type": "string"
            },
            {
              "id": "358c4e25-5725-407d-8539-42abdf49e62a",
              "name": "sessionRow.lang",
              "value": "={{ $json.session.lang || 'es' }}",
              "type": "string"
            },
            {
              "id": "2a0369d4-457e-4866-8056-1e2fe74a431a",
              "name": "sessionRow.source",
              "value": "={{ $json.session.source || 'whatsapp' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -144,
        224
      ],
      "id": "afbc629c-852b-47b6-ac8f-5f0f6911e808",
      "name": "set Session"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "67438e29-ff68-466c-8bd2-d1589348bae4",
              "name": "sessionId",
              "value": "={{ $json.sessionId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1504,
        96
      ],
      "id": "efc80b9e-1c3f-4091-9f0c-9aa00b5361ab",
      "name": "Set – Carry sessionId"
    }
  ],
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "sessionId": "ceca9f1994c44abfb120adf0d54e2b4b",
          "userResponse": "quiero una cita",
          "lang": "und"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-27T00:26:14.320Z",
      "createdAt": "2025-11-27T00:26:14.320Z",
      "role": "workflow:owner",
      "workflowId": "6atay8EaXydAxdli",
      "projectId": "zIvgruNDMJwjqAqX"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-11-27T07:52:53.681Z",
      "createdAt": "2025-11-27T07:52:53.681Z",
      "id": "O6dI8ZciIDAX4NE3",
      "name": "Final"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-12-02T18:40:39.000Z",
  "versionId": "54ca1c14-805b-4062-9763-147c470cdcad"
}