workflows/hybrid supabase
{
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "name": "hybrid supabase",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://mycepdgqapappyyacuak.supabase.co/functions/v1/rapid-responder",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15Y2VwZGdxYXBhcHB5eWFjdWFrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE5NjExODUsImV4cCI6MjA3NzUzNzE4NX0.eG8jGkE-JEmny0i-Pm1tYgjRzRvvMD7jZ8QQ8844vf4"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.chatInput }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        16
      ],
      "id": "9d2ad392-b171-4a90-acdd-4a523f50bce5",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -16,
        16
      ],
      "id": "dd16c9af-163d-44f1-bf3f-07e7c3bc8bc1",
      "name": "When chat message received",
      "webhookId": "80ec63aa-8fcf-4a4e-a8aa-a51d190f0c0a"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        416,
        16
      ],
      "id": "bf8cf1ae-1bfa-469e-bc30-1397869ee2c9",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "z3EU9aX7OrP0jWfJ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "content": "[youtube 6ckhW3Hmo]"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        -192
      ],
      "id": "0f6e226f-44df-44d7-8b03-121b018425c9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        368,
        192
      ],
      "id": "3fb3bf53-9599-4770-93c9-0ff133c4b90c",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "xenY6K4Lpy47eCcn",
          "name": "OpenAi ApPollos"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        592,
        208
      ],
      "id": "12c23081-639e-43a7-b014-7fcf7d43cd14",
      "name": "Default Data Loader"
    }
  ],
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null
}