workflows/Lead Qualification Flow.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-22T06:00:30.233Z",
    "createdAt": "2026-01-22T06:00:30.233Z",
    "versionId": "f1ff90e5-7d36-463b-90e5-32e620725542",
    "workflowId": "3tPqNquDs6jC5YS8",
    "nodes": [
      {
        "parameters": {
          "jsCode": "// Define todas las preguntas en ambos idiomas\nconst QUESTIONS = {\n  \"es\": [\n    {\n      id: 0,\n      key: \"name\",\n      text: \"¿Podrías decirme tu nombre completo?\",\n      required: true,\n      blocking: true\n    },\n    {\n      id: 1,\n      key: \"email\",\n      text: \"¿Cuál es tu correo electrónico?\",\n      required: true,\n      blocking: true\n    },\n    {\n      id: 2,\n      key: \"country\",\n      text: \"¿De qué país nos contactas?\",\n      required: true,\n      blocking: true\n    },\n    {\n      id: 3,\n      key: \"city\",\n      text: \"¿En qué ciudad te encuentras actualmente?\",\n      required: true,\n      blocking: true\n    },\n    {\n      id: 4,\n      key: \"work_type\",\n      text: \"¿Tienes actualmente un negocio o trabajas dentro de una empresa?\",\n      required: false,\n      blocking: false\n    },\n    {\n      id: 5,\n      key: \"business_name\",\n      text: \"Si tienes un negocio, ¿cómo se llama y a qué se dedica principalmente?\",\n      required: false,\n      blocking: false\n    },\n    {\n      id: 6,\n      key: \"role\",\n      text: \"¿Cuál es tu rol dentro de la empresa o proyecto?\",\n      required: false,\n      blocking: false\n    },\n    {\n      id: 7,\n      key: \"business_model\",\n      text: \"¿Tu empresa ofrece productos físicos, servicios, o es un negocio digital?\",\n      required: false,\n      blocking: false\n    },\n    {\n      id: 8,\n      key: \"team_size\",\n      text: \"¿Cuántas personas forman parte actualmente de tu equipo o negocio?\",\n      required: false,\n      blocking: false\n    },\n    {\n      id: 9,\n      key: \"ai_knowledge\",\n      text: \"¿Qué tan familiarizado estás con el uso de la inteligencia artificial en tu negocio o sector?\",\n      required: false,\n      blocking: false\n    },\n    {\n      id: 10,\n      key: \"main_challenge\",\n      text: \"¿Cuál es el principal desafío que estás buscando resolver ahora mismo en tu empresa?\",\n      required: false,\n      blocking: false\n    },\n    {\n      id: 11,\n      key: \"past_attempt\",\n      text: \"¿Has intentado implementar alguna herramienta o estrategia digital para resolverlo? Si es así, ¿cuál?\",\n      required: false,\n      blocking: false\n    }\n  ],\n  \"en\": [\n    {\n      id: 0,\n      key: \"name\",\n      text: \"Could you tell me your full name?\",\n      required: true,\n      blocking: true\n    },\n    {\n      id: 1,\n      key: \"email\",\n      text: \"What's your email address?\",\n      required: true,\n      blocking: true\n    },\n    {\n      id: 2,\n      key: \"country\",\n      text: \"Which country are you contacting us from?\",\n      required: true,\n      blocking: true\n    },\n    {\n      id: 3,\n      key: \"city\",\n      text: \"Which city are you currently in?\",\n      required: true,\n      blocking: true\n    },\n    {\n      id: 4,\n      key: \"work_type\",\n      text: \"Do you currently have a business or work within a company?\",\n      required: false,\n      blocking: false\n    },\n    {\n      id: 5,\n      key: \"business_name\",\n      text: \"If you have a business, what is its name and what does it primarily do?\",\n      required: false,\n      blocking: false\n    },\n    {\n      id: 6,\n      key: \"role\",\n      text: \"What's your role within the company or project?\",\n      required: false,\n      blocking: false\n    },\n    {\n      id: 7,\n      key: \"business_model\",\n      text: \"Does your company offer physical products, services, or is it a digital business?\",\n      required: false,\n      blocking: false\n    },\n    {\n      id: 8,\n      key: \"team_size\",\n      text: \"How many people are currently part of your team or business?\",\n      required: false,\n      blocking: false\n    },\n    {\n      id: 9,\n      key: \"ai_knowledge\",\n      text: \"How familiar are you with using artificial intelligence in your business or sector?\",\n      required: false,\n      blocking: false\n    },\n    {\n      id: 10,\n      key: \"main_challenge\",\n      text: \"What is the main challenge you are looking to solve right now in your company?\",\n      required: false,\n      blocking: false\n    },\n    {\n      id: 11,\n      key: \"past_attempt\",\n      text: \"Have you tried implementing any digital tools or strategies to solve it? If so, which ones?\",\n      required: false,\n      blocking: false\n    }\n  ]\n};\n\nreturn [{ json: { questions: QUESTIONS } }];"
        },
        "id": "f994aef5-c3e5-4f0f-95f9-5fb3957e14e3",
        "name": "Get Questions",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -4960,
          220
        ]
      },
      {
        "parameters": {},
        "id": "ecf7acbc-e60b-405d-a7a9-db52bebbd359",
        "name": "AI Data Extractor",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.4,
        "position": [
          -3840,
          -464
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "has-business",
                "leftValue": "={{ $('Trigger').item.json.business_name }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "3e2e3d9e-9a2d-4a8b-91d2-367759624d7b",
        "name": "IF Has Business",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -3264,
          780
        ]
      },
      {
        "parameters": {
          "sendTo": "empathoai@gmail.com",
          "subject": "=🚀 Nuevo Lead Calificado: {{ $node[\"Generate Summary\"].json.lead_data.name }}",
          "message": "=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <style>\n        body { font-family: 'Inter', system-ui, sans-serif; line-height: 1.6; color: #1a1a1a; margin: 0; padding: 0; background-color: #f4f7f9; }\n        .container { max-width: 600px; margin: 20px auto; background: #ffffff; border-radius: 12px; overflow: hidden; box-shadow: 0 4px 6px rgba(0,0,0,0.05); }\n        .header { background: #000000; padding: 30px; text-align: center; }\n        .logo { max-width: 150px; height: auto; }\n        .content { padding: 30px; }\n        .lead-badge { background: #e3f2fd; color: #1976d2; padding: 4px 12px; border-radius: 20px; font-size: 12px; font-weight: 600; text-transform: uppercase; margin-bottom: 10px; display: inline-block; }\n        h1 { margin: 0; font-size: 24px; color: #1a1a1a; }\n        .data-grid { display: grid; grid-template-columns: 1fr 1fr; gap: 20px; margin: 25px 0; border-top: 1px solid #eee; padding-top: 25px; }\n        .data-item { margin-bottom: 15px; }\n        .label { font-size: 11px; color: #666; text-transform: uppercase; letter-spacing: 0.5px; font-weight: 600; }\n        .value { font-size: 15px; font-weight: 500; color: #333; }\n        .bi-section { background: #f8f9fa; border-left: 4px solid #000; padding: 20px; margin-top: 20px; border-radius: 0 8px 8px 0; }\n        .bi-title { font-weight: 700; color: #000; margin-bottom: 10px; display: flex; align-items: center; gap: 8px; }\n        .footer { text-align: center; padding: 20px; font-size: 12px; color: #999; border-top: 1px solid #eee; }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <img src=\"https://static.wixstatic.com/media/01149e_95834888a7c24bf8973b110bc9363d6b~mv2.png\" alt=\"Dania AI\" class=\"logo\">\n        </div>\n        <div class=\"content\">\n            <span class=\"lead-badge\">Lead Calificado 🔥</span>\n            <h1>{{ $node[\"Generate Summary\"].json.lead_data.name }}</h1>\n            \n            <div class=\"data-grid\">\n                <div class=\"data-item\">\n                    <div class=\"label\">Email</div>\n                    <div class=\"value\">{{ $node[\"Generate Summary\"].json.lead_data.email }}</div>\n                </div>\n                <div class=\"data-item\">\n                    <div class=\"label\">Ubicación</div>\n                    <div class=\"value\">{{ $node[\"Generate Summary\"].json.lead_data.city }}, {{ $node[\"Generate Summary\"].json.lead_data.country }} ({{ $node[\"Generate Summary\"].json.lead_data.timezone }})</div>\n                </div>\n                <div class=\"data-item\">\n                    <div class=\"label\">Negocio</div>\n                    <div class=\"value\">{{ $node[\"Generate Summary\"].json.lead_data.business_name || 'N/A' }}</div>\n                </div>\n                <div class=\"data-item\">\n                    <div class=\"label\">Modelo</div>\n                    <div class=\"value\">{{ $node[\"Generate Summary\"].json.lead_data.business_model || 'N/A' }}</div>\n                </div>\n            </div>\n\n            <div class=\"data-item\">\n                <div class=\"label\">Desafío Principal</div>\n                <div class=\"value\">{{ $node[\"Generate Summary\"].json.lead_data.main_challenge }}</div>\n            </div>\n\n            {{ $node[\"Summarization Chain\"] ? '<div class=\"bi-section\"><div class=\"bi-title\">🕵️ Inteligencia Estratégica (Tavily AI)</div><div class=\"value\">' + $node[\"Summarization Chain\"].json.text + '</div></div>' : '' }}\n        </div>\n        <div class=\"footer\">\n            &copy; 2026 Empatho AI Agency | Dania Assistant Intelligence System\n        </div>\n    </div>\n</body>\n</html>",
          "options": {}
        },
        "id": "e653d253-714f-491a-a8b5-801da9988d30",
        "name": "Notify Agency (Gmail)",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          -2336,
          780
        ],
        "webhookId": "ea482e6a-26e5-41d3-a185-1b4fff9e2f10",
        "credentials": {
          "gmailOAuth2": {
            "id": "lJvypbA2AJhKcdY5",
            "name": "Gmail API"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Filtra preguntas según idioma y modo\nconst lang = $('Trigger').item.json.language || 'es';\nconst mode = $('Trigger').item.json.mode || 'full';\nconst allQuestions = $('Get Questions').item.json.questions;\n\nconst localized = allQuestions[lang];\n\nconst filtered = mode === 'minimal'\n  ? localized.filter(q => q.required)\n  : localized;\n\nreturn [{\n  json: {\n    questions: filtered,\n    total_questions: filtered.length,\n    mode: mode,\n    language: lang\n  }\n}];"
        },
        "id": "05390e09-14c4-4ac7-8a92-ea76824ea574",
        "name": "Filter Questions By Mode",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -4736,
          220
        ]
      },
      {
        "parameters": {
          "jsCode": "// Detectar si el usuario está apurado y auto-activar modo minimal\nconst message = $('Trigger').item.json.message?.toLowerCase() || '';\nconst currentMode = $('Trigger').item.json.mode || 'full';\n\n// Enhanced patterns to detect express intent\nconst expressPatterns = [\n  /no\\s+(tengo|tiene|hay)\\s+tiempo/i,  // \"no tengo tiempo\", \"no tiene tiempo\"\n  /\\brapido\\b/i,                        // \"rápido\"\n  /\\bapurado\\b/i,                       // \"apurado\"\n  /\\bcorto\\b/i,                         // \"corto\"\n  /\\bexpress\\b/i,                       // \"express\"\n  /\\bminimal?\\b/i,                      // \"minimal\", \"mínimo\"\n  /poco\\s+tiempo/i,                     // \"poco tiempo\"\n  /sin\\s+tiempo/i,                      // \"sin tiempo\"\n  /mucha\\s+prisa/i,                     // \"mucha prisa\"\n  /demasiadas\\s+preguntas/i,           // \"demasiadas preguntas\"\n  /cuantas\\s+preguntas/i,              // \"cuantas preguntas\" - user asking about quantity suggests concern\n];\n\nconst isExpressIntent = expressPatterns.some(pattern => pattern.test(message));\n\nif (currentMode === 'full' && isExpressIntent) {\n  console.log('[Express] Usuario apurado detectado - Cambiar a modo minimal. Message:', message);\n  return [{\n    json: {\n      ...($('Trigger').item.json),\n      mode: 'minimal',\n      _express_detected: true,\n      _trigger_message: message\n    }\n  }];\n}\n\nreturn [{ json: $('Trigger').item.json }];"
        },
        "id": "7154e0c7-888b-404b-bc8d-3c16262a1eaa",
        "name": "Detect Express Intent",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -5184,
          220
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "mode-start-check",
                "leftValue": "={{ $json._mode }}",
                "rightValue": "start",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "7bb0f9fd-97ca-4289-b5d3-aac4a4f53a87",
        "name": "Route Start or Continue",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -4064,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "// Obtiene la pregunta actual según el índice\n// MEJORADO: Detecta si es INICIO del cuestionario o CONTINUACIÓN\nconst triggerData = $('Trigger').item.json;\nconst filterData = $('Filter Questions By Mode').item.json;\n\nconst questions = filterData.questions || [];\nconst index = triggerData.current_question_index ?? 0;\nconst sessionId = triggerData.sessionId;\nconst message = (triggerData.message || '').toLowerCase();\n\nif (!Array.isArray(questions) || questions.length === 0) {\n  return [{\n    json: {\n      error: 'No questions found',\n      sessionId,\n      current_index: index,\n    }\n  }];\n}\n\nconst currentQuestion = questions[index];\n\n// LÓGICA DE DETECCIÓN DE INICIO:\n// Solo es inicio si:\n// 1. index=0 (primera pregunta)\n// 2. name está vacío (no ha respondido nada)\n// 3. El mensaje contiene palabras clave de intención (quiero, agendar, cita, etc)\n//    o es una opción del menú (1, 2, 3)\n\nconst startKeywords = /quiero|agendar|agenda|cita|información|servicios|sí.*quiero|si.*quiero|^1$|^2$|^3$/i;\nconst isStartKeyword = startKeywords.test(message);\nconst isStartOfQuestionnaire = (index === 0 && !triggerData.name && isStartKeyword);\n\nconsole.log('[Get Current Question] Analysis:', { index, hasName: !!triggerData.name, message, isStartKeyword, isStartOfQuestionnaire });\n\nif (isStartOfQuestionnaire) {\n  // Primera llamada - retornar primera pregunta sin intentar validar el message\n  console.log('[Get Current Question] INICIO de cuestionario - retornando primera pregunta');\n  return [{\n    json: {\n      action: 'ask',\n      next_question: currentQuestion.text,\n      current_question_index: 0,\n      sessionId,\n      finished: false,\n      _mode: 'start'\n    }\n  }];\n}\n\n// Continuación normal - el message es respuesta a la pregunta actual\nconsole.log('[Get Current Question] CONTINUACIÓN - procesando respuesta para:', currentQuestion.key);\nreturn [{\n  json: {\n    ...currentQuestion,\n    current_index: index,\n    sessionId,\n    _mode: 'continue'\n  }\n}];"
        },
        "id": "5cd03c7f-07bb-4ccc-be79-134455a60f49",
        "name": "Get Current Question",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -4512,
          220
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "city-check",
                "leftValue": "={{ $json.key }}",
                "rightValue": "city",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "6e2ac3c2-55a5-435e-97d3-bdf9286c1f66",
        "name": "IF Is City Question",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -3776,
          148
        ]
      },
      {
        "parameters": {
          "jsCode": "// Inferencia de timezone sin cache (cache no disponible en toolWorkflow)\n// Función de normalización\nconst normalize = s => s.normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g,\"\").trim().toUpperCase();\n\n// Obtener datos\nconst leadData = $('Trigger').item.json;\nconst country = normalize(leadData.country || \"\");\nconst city = normalize($('Trigger').item.json.message);\n\nconsole.log('[Timezone] Checking:', { country, city });\n\n// Mapa local de zonas horarias (LATAM + España + NZ)\nconst TIMEZONE_MAP = {\n  \"MEXICO\": {\n    \"GUADALAJARA\": \"America/Mexico_City\",\n    \"MONTERREY\": \"America/Monterrey\",\n    \"TIJUANA\": \"America/Tijuana\",\n    \"CANCUN\": \"America/Cancun\",\n    \"CIUDAD DE MEXICO\": \"America/Mexico_City\",\n    \"CDMX\": \"America/Mexico_City\",\n    \"MERIDA\": \"America/Merida\",\n    \"PUEBLA\": \"America/Mexico_City\",\n    \"QUERETARO\": \"America/Mexico_City\",\n    \"JALISCO\": \"America/Mexico_City\",\n    \"NUEVO LEON\": \"America/Monterrey\",\n    \"ESTADO DE MEXICO\": \"America/Mexico_City\",\n    \"YUCATAN\": \"America/Merida\"\n  },\n  \"COLOMBIA\": {\n    \"BOGOTA\": \"America/Bogota\",\n    \"MEDELLIN\": \"America/Bogota\",\n    \"CALI\": \"America/Bogota\",\n    \"BARRANQUILLA\": \"America/Bogota\",\n    \"CARTAGENA\": \"America/Bogota\",\n    \"ANTIOQUIA\": \"America/Bogota\"\n  },\n  \"ESPAÑA\": {\n    \"MADRID\": \"Europe/Madrid\",\n    \"BARCELONA\": \"Europe/Madrid\",\n    \"VALENCIA\": \"Europe/Madrid\",\n    \"SEVILLA\": \"Europe/Madrid\",\n    \"BILBAO\": \"Europe/Madrid\"\n  },\n  \"SPAIN\": {\n    \"MADRID\": \"Europe/Madrid\",\n    \"BARCELONA\": \"Europe/Madrid\"\n  },\n  \"ARGENTINA\": {\n    \"BUENOS AIRES\": \"America/Argentina/Buenos_Aires\",\n    \"CORDOBA\": \"America/Argentina/Cordoba\",\n    \"ROSARIO\": \"America/Argentina/Cordoba\",\n    \"MENDOZA\": \"America/Argentina/Mendoza\"\n  },\n  \"BRASIL\": {\n    \"SAO PAULO\": \"America/Sao_Paulo\",\n    \"RIO DE JANEIRO\": \"America/Sao_Paulo\",\n    \"BRASILIA\": \"America/Sao_Paulo\",\n    \"SALVADOR\": \"America/Bahia\",\n    \"FORTALEZA\": \"America/Fortaleza\"\n  },\n  \"BRAZIL\": {\n    \"SAO PAULO\": \"America/Sao_Paulo\",\n    \"RIO DE JANEIRO\": \"America/Sao_Paulo\"\n  },\n  \"CHILE\": {\n    \"SANTIAGO\": \"America/Santiago\",\n    \"VALPARAISO\": \"America/Santiago\"\n  },\n  \"PERU\": {\n    \"LIMA\": \"America/Lima\",\n    \"AREQUIPA\": \"America/Lima\"\n  },\n  \"ECUADOR\": {\n    \"QUITO\": \"America/Guayaquil\",\n    \"GUAYAQUIL\": \"America/Guayaquil\"\n  },\n  \"NEW ZEALAND\": {\n    \"AUCKLAND\": \"Pacific/Auckland\",\n    \"WELLINGTON\": \"Pacific/Auckland\"\n  }\n};\n\n// Buscar en mapa local\nconst timezone = TIMEZONE_MAP[country]?.[city] || null;\n\nif (timezone) {\n  console.log('[Timezone] Local DB HIT:', timezone);\n  \n  return [{\n    json: {\n      timezone: timezone,\n      from_cache: false,\n      needs_ai: false,\n      country: country,\n      city: city,\n      sessionId: $('Get Current Question').item.json.sessionId\n    }\n  }];\n}\n\n// No encontrado - necesita AI\nconsole.log('[Timezone] Local DB MISS - needs AI');\nreturn [{\n  json: {\n    timezone: null,\n    from_cache: false,\n    needs_ai: true,\n    country: country,\n    city: city,\n    sessionId: $('Get Current Question').item.json.sessionId\n  }\n}];"
        },
        "id": "44066d3e-ea0a-49d7-a61f-c125968b2b3f",
        "name": "Infer Timezone",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -3488,
          -44
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "needs-ai-check",
                "leftValue": "={{ $json.needs_ai }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "88e29e3b-c17d-4003-9391-c29190a8aace",
        "name": "IF Needs AI Timezone",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -3264,
          -44
        ]
      },
      {
        "parameters": {
          "jsCode": "// Parse AI response con error handling robusto (sin cache - no disponible en toolWorkflow)\nconst country = $('Infer Timezone').item.json.country;\nconst city = $('Infer Timezone').item.json.city;\n\nlet timezone = \"UNDEFINED\";\n\ntry {\n  // El output de OpenAI puede venir en diferentes formatos\n  const aiOutput = $input.item.json.output || $input.item.json.text || $input.item.json.response || \"\";\n  \n  console.log('[AI Timezone] Raw output:', aiOutput);\n  \n  // Limpiar markdown si existe\n  const cleanOutput = aiOutput.replace(/```json|```/g, \"\").trim();\n  \n  // Intentar parsear JSON\n  const parsed = JSON.parse(cleanOutput);\n  timezone = parsed.timezone || \"UNDEFINED\";\n  \n  console.log('[AI Timezone] Parsed timezone:', timezone);\n  \n} catch (error) {\n  console.error('[AI Timezone] Parse error:', error.message);\n  timezone = \"UNDEFINED\";\n}\n\n// Log timezone inference result\nif (timezone && timezone !== \"UNDEFINED\") {\n  console.log('[AI Timezone] Successfully inferred:', { country, city, timezone });\n}\n\nreturn [{\n  json: {\n    timezone: timezone,\n    from_cache: false,\n    from_ai: true,\n    country: country,\n    city: city,\n    sessionId: $('Infer Timezone').item.json.sessionId\n  }\n}];"
        },
        "id": "6b73c864-5e37-4b50-98b4-48927a75e517",
        "name": "Parse AI Timezone",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2624,
          -168
        ]
      },
      {
        "parameters": {
          "operation": "update",
          "collection": "leads",
          "updateKey": "sessionId",
          "fields": "timezone,city,country",
          "options": {}
        },
        "id": "3b9521e3-dea2-44c4-bdfd-5244b4b86c61",
        "name": "Update MongoDB (Timezone)",
        "type": "n8n-nodes-base.mongoDb",
        "typeVersion": 1.1,
        "position": [
          -2112,
          -44
        ],
        "alwaysOutputData": true,
        "credentials": {
          "mongoDb": {
            "id": "KNCVFnX6uXTL664z",
            "name": "MongoDB n8n"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Preparar respuesta para el orquestador (skip_wait para city)\nconst questions = $('Filter Questions By Mode').item.json.questions;\nconst currentIndex = $('Get Current Question').item.json.current_index;\nconst totalQuestions = questions.length;\nconst newIndex = currentIndex + 1;\n\n// Verificar si terminó\nif (newIndex >= totalQuestions) {\n  return [{\n    json: {\n      action: \"summary\",\n      finished: true,\n      sessionId: $json.sessionId\n    }\n  }];\n}\n\n// Obtener siguiente pregunta\nconst nextQuestion = questions[newIndex];\n\nreturn [{\n  json: {\n    action: \"ask\",\n    next_question: nextQuestion.text,\n    finished: false,\n    sessionId: $json.sessionId,\n    current_question_index: newIndex\n  }\n}];"
        },
        "id": "6ab4afc6-3c98-44a5-8c5a-766e6d490335",
        "name": "Return After Timezone",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1856,
          -32
        ]
      },
      {
        "parameters": {
          "jsCode": "// Validar y normalizar respuesta del usuario\nconst key = $('Get Current Question').item.json.key;\nconst blocking = $('Get Current Question').item.json.blocking;\nconst userMessage = $('Trigger').item.json.message || \"\";\nconst msg = userMessage.trim();\nlet normalized = msg;\n\nconsole.log('[Validate] Field:', key, 'Message:', msg, 'Blocking:', blocking);\n\n// ===== DETECCIÓN DE SALTO (SKIP) PARA CAMPOS NO BLOQUEANTES =====\nconst skipKeywords = /saltar|paso|no.*se|prefiero.*no|skip|n\\/a|omitir/i;\nif (!blocking && skipKeywords.test(msg)) {\n  console.log('[Validate] Optional field skipped by user');\n  return [{\n    json: {\n      action: \"valid\",\n      key: key,\n      value: \"No proporcionado\",\n      sessionId: $('Get Current Question').item.json.sessionId\n    }\n  }];\n}\n\n// ===== VALIDACIÓN DE NOMBRE =====\nif (key === \"name\") {\n  normalized = msg.toUpperCase().replace(/\\s+/g, \" \").trim();\n  \n  const words = normalized.split(\" \");\n  if (words.length < 2) {\n    console.log('[Validate] Name error: menos de 2 palabras');\n    return [{\n      json: {\n        action: \"error\",\n        error_msg: \"Por favor ingresa tu nombre completo (nombre y apellido).\",\n        sessionId: $('Get Current Question').item.json.sessionId\n      }\n    }];\n  }\n}\n\n// ===== VALIDACIÓN DE EMAIL =====\nif (key === \"email\") {\n  normalized = msg.toLowerCase().trim();\n  \n  // 1. Validar que tenga @ (CRÍTICO)\n  if (!normalized.includes('@')) {\n    console.log('[Validate] Email error: sin @');\n    return [{\n      json: {\n        action: \"error\",\n        error_msg: \"El email debe contener el símbolo @\",\n        sessionId: $('Get Current Question').item.json.sessionId\n      }\n    }];\n  }\n  \n  // 2. Split seguro\n  const [user, domain] = normalized.split('@');\n  \n  // 3. Validar que ambas partes existan (FIX v3.1)\n  if (!user || !domain) {\n    console.log('[Validate] Email error: user o domain vacío');\n    return [{\n      json: {\n        action: \"error\",\n        error_msg: \"Formato de email inválido\",\n        sessionId: $('Get Current Question').item.json.sessionId\n      }\n    }];\n  }\n  \n  // 4. Detección de typos (FIX #2: Agregado gmaill.com)\n  const typos = {\n    'gmai.com': 'gmail.com',\n    'gmial.com': 'gmail.com',\n    'gmil.com': 'gmail.com',\n    'gmaill.com': 'gmail.com',     // FIX #2: Typo común (doble 'l')\n    'hotmai.com': 'hotmail.com',\n    'hotmial.com': 'hotmail.com',\n    'outlok.com': 'outlook.com',\n    'outlool.com': 'outlook.com',\n    'yaho.com': 'yahoo.com',\n    'yahooo.com': 'yahoo.com',\n    'iclou.com': 'icloud.com',\n    'icoud.com': 'icloud.com'\n  };\n  \n  if (typos[domain]) {\n    console.log('[Validate] Email typo detected:', domain, '->', typos[domain]);\n    return [{\n      json: {\n        action: \"error\",\n        error_msg: `¿Quisiste decir ${user}@${typos[domain]}?`,\n        sessionId: $('Get Current Question').item.json.sessionId\n      }\n    }];\n  }\n  \n  // 5. Validación RFC 5322\n  const emailRegex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/;\n  \n  if (!emailRegex.test(normalized)) {\n    console.log('[Validate] Email error: formato inválido');\n    return [{\n      json: {\n        action: \"error\",\n        error_msg: \"El formato del correo electrónico no es válido\",\n        sessionId: $('Get Current Question').item.json.sessionId\n      }\n    }];\n  }\n}\n\n// ===== NORMALIZACIÓN DE COUNTRY/CITY =====\nif (key === \"country\" || key === \"city\") {\n  normalized = msg.toUpperCase().trim();\n}\n\n// ===== NORMALIZACIÓN DE OTROS CAMPOS =====\nif (![\"name\", \"email\", \"country\", \"city\"].includes(key)) {\n  // Title Case para campos de texto libre\n  normalized = msg.toLowerCase().split(' ')\n    .map(w => w.charAt(0).toUpperCase() + w.slice(1))\n    .join(' ');\n}\n\nconsole.log('[Validate] Success:', { key, normalized });\n\nreturn [{\n  json: {\n    action: \"valid\",\n    key: key,\n    value: normalized,\n    sessionId: $('Get Current Question').item.json.sessionId\n  }\n}];"
        },
        "id": "9c0983e0-7cc8-420c-863c-c71c3c4d92a4",
        "name": "Validate & Normalize",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -3488,
          368
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": ""
            },
            "conditions": [
              {
                "id": "valid-check",
                "leftValue": "={{ $json.action }}",
                "rightValue": "valid",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "4aa0abe6-34b0-4255-91a2-58612a25fb08",
        "name": "IF Is Valid",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -3264,
          368
        ]
      },
      {
        "parameters": {
          "jsCode": "// Transformar { key: 'name', value: 'ALEX' } → { name: 'ALEX' }\nconst key = $json.key;\nconst value = $json.value;\nconst sessionId = $json.sessionId;\n\n// Construir objeto dinámico\nconst result = {\n  sessionId: sessionId\n};\n\n// Agregar el campo dinámicamente\nresult[key] = value;\n\nreturn [{ json: result }];"
        },
        "id": "6dcdd9f3-216d-444d-aa4a-190cfe8adb66",
        "name": "Transform Field",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2976,
          272
        ]
      },
      {
        "parameters": {
          "operation": "update",
          "collection": "leads",
          "updateKey": "sessionId",
          "fields": "={{ Object.keys($json).filter(k => k !== 'sessionId').join(',') }}",
          "options": {}
        },
        "id": "1c48de30-a1dd-4e01-ad4d-b6d13d6234b9",
        "name": "Update MongoDB (Field)",
        "type": "n8n-nodes-base.mongoDb",
        "typeVersion": 1.1,
        "position": [
          -2624,
          272
        ],
        "alwaysOutputData": true,
        "credentials": {
          "mongoDb": {
            "id": "KNCVFnX6uXTL664z",
            "name": "MongoDB n8n"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Incrementar índice y verificar si terminó el cuestionario\n// FIXED: Always include current_question_index in output for persistence\nconst questions = $('Filter Questions By Mode').item.json.questions;\nconst currentIndex = $('Get Current Question').item.json.current_index;\nconst totalQuestions = questions.length;\nconst newIndex = currentIndex + 1;\n\nconst sessionId =\n  $json.sessionId ||\n  $('Get Current Question').item.json.sessionId ||\n  $('Trigger').item.json.sessionId;\n\nconsole.log('[Check Finished]', { currentIndex, newIndex, totalQuestions });\n\n// Verificar si terminó\nif (newIndex >= totalQuestions) {\n  console.log('[Check Finished] Cuestionario completado - Solicitando confirmación');\n  return [{\n    json: {\n      action: \"summary\",\n      finished: true,\n      sessionId,\n      current_question_index: newIndex,\n      status: 'awaiting_confirmation'\n    }\n  }];\n}\n\n// Obtener siguiente pregunta\nconst nextQuestion = questions[newIndex];\n\nconsole.log('[Check Finished] Siguiente pregunta:', nextQuestion.text);\n\nreturn [{\n  json: {\n    action: \"ask\",\n    next_question: nextQuestion.text,\n    finished: false,\n    sessionId,\n    current_question_index: newIndex  // CRITICAL: Include for MongoDB update\n  }\n}];"
        },
        "id": "b3698d60-75bb-4029-98eb-bed2596ef996",
        "name": "Check If Finished",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2336,
          272
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": ""
            },
            "conditions": [
              {
                "id": "finished-check",
                "leftValue": "={{ $json.action }}",
                "rightValue": "summary",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "8ad61143-93a0-4a24-bf50-4010ab3adaa1",
        "name": "IF Questionnaire Finished",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -1888,
          272
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "awaiting-check",
                "leftValue": "={{ $('Trigger').item.json.status }}",
                "rightValue": "awaiting_confirmation",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "d034fe8e-1aba-4703-8329-e8243657aeae",
        "name": "IF Awaiting Confirmation",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -4288,
          220
        ]
      },
      {
        "parameters": {
          "jsCode": "// Maneja la respuesta de confirmación (SÍ/NO)\n// Returns via 3 outputs:\n// Output 0: qualified (go to Build Qualified Payload)\n// Output 1: reset/correct_field (go to Get Current Question to restart)\n// Output 2: retry_summary (go back to Generate Summary)\n\nconst msg = ($('Trigger').item.json.message || '').toLowerCase().trim();\nconst sessionId = $('Trigger').item.json.sessionId;\n\nconst isYes = /s[ií]|yep|si|correcto|confirmado|ok|est[aá] bien|yes/i.test(msg);\nconst isNo = /no|incorrecto|mal|cambiar|editar|corregir/i.test(msg);\n\nif (isYes) {\n  // Output 0: Qualified\n  return [[\n    {\n      json: {\n        action: 'qualified',\n        sessionId,\n        _confirmed: true,\n        status: 'qualified'\n      }\n    }\n  ]];\n}\n\nif (isNo) {\n  // Detect if user specified which field to correct\n  const fieldPatterns = {\n    email: /email|correo/i,\n    name: /nombre|name/i,\n    city: /ciudad|city/i,\n    country: /país|country|pais/i,\n    work_type: /trabajo|work.*type/i,\n    business_name: /negocio|empresa|business/i,\n    role: /rol|role|puesto/i,\n    business_model: /modelo|model/i,\n    team_size: /equipo|team/i,\n    ai_knowledge: /ia|ai|inteligencia/i,\n    main_challenge: /desafío|desafio|challenge|problema/i,\n    past_attempt: /intento|attempt|probado/i\n  };\n\n  let fieldToCorrect = null;\n  for (const [field, pattern] of Object.entries(fieldPatterns)) {\n    if (pattern.test(msg)) {\n      fieldToCorrect = field;\n      break;\n    }\n  }\n\n  if (fieldToCorrect) {\n    // Output 1: User specified a field - route to Get Current Question\n    const questions = $('Filter Questions By Mode').item.json.questions;\n    const questionIndex = questions.findIndex(q => q.key === fieldToCorrect);\n\n    return [null, [\n      {\n        json: {\n          action: 'correct_field',\n          field: fieldToCorrect,\n          current_question_index: questionIndex,\n          sessionId,\n          status: 'in_progress',\n          _correction_mode: true,\n          message: msg // Pass original message through\n        }\n      }\n    ]];\n  } else {\n    // Output 1: Generic \"No\" - reset to first question\n    return [null, [\n      {\n        json: {\n          action: 'reset',\n          sessionId,\n          _confirmed: false,\n          status: 'in_progress',\n          current_question_index: 0,\n          _reset_reason: 'user_correction_request',\n          message: msg\n        }\n      }\n    ]];\n  }\n}\n\n// Output 2: Si no entiende, re-preguntar el resumen\nreturn [null, null, [\n  {\n    json: {\n      action: 'retry_summary',\n      sessionId\n    }\n  }\n]];"
        },
        "id": "dea067d9-720d-4263-85e8-203d2d712f87",
        "name": "Handle Confirmation",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -4064,
          780
        ]
      },
      {
        "parameters": {
          "jsCode": "// Generar resumen según modo (full o minimal)\nconst leadData = $('Trigger').item.json;\nconst mode = $('Filter Questions By Mode').item.json.mode;\nconst lang = $('Filter Questions By Mode').item.json.language;\n\nconst templates = {\n  es: {\n    header: \"Perfecto, esto es lo que tengo:\\n\\n\",\n    footer: \"\\n\\n¿Confirmas que todo es correcto? (Responde Sí o No)\",\n    fields: {\n      name: \"👤 Nombre: \",\n      email: \"📧 Email: \",\n      country: \"🌍 País: \",\n      city: \"🏙️ Ciudad: \",\n      timezone: \"🕓 Zona Horaria: \",\n      work_type: \"🏢 Tipo de trabajo: \",\n      business_name: \"💼 Negocio: \",\n      role: \"👔 Rol: \",\n      business_model: \"💡 Modelo: \",\n      team_size: \"👥 Equipo: \",\n      ai_knowledge: \"🤖 Conocimiento de IA: \",\n      main_challenge: \"⚙️ Desafío: \",\n      past_attempt: \"🧠 Intentos previos: \"\n    }\n  },\n  en: {\n    header: \"Perfect, here's what I have:\\n\\n\",\n    footer: \"\\n\\nDo you confirm everything is correct? (Reply Yes or No)\",\n    fields: {\n      name: \"👤 Name: \",\n      email: \"📧 Email: \",\n      country: \"🌍 Country: \",\n      city: \"🏙️ City: \",\n      timezone: \"🕓 Timezone: \",\n      work_type: \"🏢 Work type: \",\n      business_name: \"💼 Business: \",\n      role: \"👔 Role: \",\n      business_model: \"💡 Model: \",\n      team_size: \"👥 Team: \",\n      ai_knowledge: \"🤖 AI knowledge: \",\n      main_challenge: \"⚙️ Challenge: \",\n      past_attempt: \"🧠 Past attempts: \"\n    }\n  }\n};\n\nconst t = templates[lang] || templates['es'];\nlet summary = t.header;\n\n// Campos obligatorios (siempre en ambos modos)\nconst requiredFields = ['name', 'email', 'country', 'city', 'timezone'];\nfor (const field of requiredFields) {\n  if (leadData[field]) {\n    summary += t.fields[field] + leadData[field] + \"\\n\";\n  }\n}\n\n// Campos opcionales (solo en modo full)\nif (mode === 'full') {\n  const optionalFields = [\n    'work_type', 'business_name', 'role', 'business_model',\n    'team_size', 'ai_knowledge', 'main_challenge', 'past_attempt'\n  ];\n  \n  for (const field of optionalFields) {\n    if (leadData[field]) {\n      summary += t.fields[field] + leadData[field] + \"\\n\";\n    }\n  }\n}\n\nsummary += t.footer;\n\nreturn [{\n  json: {\n    action: \"summary\",\n    summary: summary,\n    finished: true,\n    mode: mode,\n    sessionId: leadData.sessionId,\n    lead_data: leadData\n  }\n}];"
        },
        "id": "8bb5ce5e-4f9a-4ddb-9788-51c30d6ce3af",
        "name": "Generate Summary",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1664,
          200
        ]
      },
      {
        "parameters": {
          "jsCode": "// Preparar payload para marcar el lead como esperando confirmación\n// INCLUIR el summary generado para que llegue al orquestador\nconst summaryData = $('Generate Summary').item.json;\n\nreturn [{\n  json: {\n    sessionId: summaryData.sessionId,\n    status: 'awaiting_confirmation',\n    action: 'summary',\n    summary: summaryData.summary,\n    finished: true\n  }\n}];"
        },
        "id": "4b2f40b5-d9b9-4eca-8fe4-f93ac7a9e351",
        "name": "Build Awaiting Payload",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1440,
          200
        ]
      },
      {
        "parameters": {
          "operation": "update",
          "collection": "leads",
          "updateKey": "sessionId",
          "fields": "status",
          "options": {}
        },
        "id": "88adf493-c8f5-4b6a-b72e-513ad84f6fc4",
        "name": "Update Status to Awaiting",
        "type": "n8n-nodes-base.mongoDb",
        "typeVersion": 1.1,
        "position": [
          -1216,
          200
        ],
        "alwaysOutputData": true,
        "credentials": {
          "mongoDb": {
            "id": "KNCVFnX6uXTL664z",
            "name": "MongoDB n8n"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "return-error",
                "name": "action",
                "value": "={{ $json.action }}",
                "type": "string"
              },
              {
                "id": "return-error-msg",
                "name": "error_msg",
                "value": "={{ $json.error_msg }}",
                "type": "string"
              },
              {
                "id": "return-finished",
                "name": "finished",
                "value": "=false",
                "type": "boolean"
              },
              {
                "id": "return-session",
                "name": "sessionId",
                "value": "={{ $json.sessionId }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "f3990689-0c85-4fe0-9a0e-e069539d89dc",
        "name": "Return Error Response",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -2976,
          464
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "return-action",
                "name": "action",
                "value": "={{ $json.action }}",
                "type": "string"
              },
              {
                "id": "return-question",
                "name": "next_question",
                "value": "={{ $json.next_question }}",
                "type": "string"
              },
              {
                "id": "return-finished-ask",
                "name": "finished",
                "value": "=false",
                "type": "boolean"
              },
              {
                "id": "return-index",
                "name": "current_question_index",
                "value": "={{ $json.current_question_index }}",
                "type": "number"
              },
              {
                "id": "return-session-ask",
                "name": "sessionId",
                "value": "={{ $json.sessionId }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "0cc0a030-a141-4889-aeb5-8c8d8376f1a8",
        "name": "Return Ask Response",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -992,
          272
        ]
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-4o-mini",
            "mode": "list",
            "cachedResultName": "gpt-4o-mini"
          },
          "builtInTools": {
            "webSearch": {
              "searchContextSize": "low"
            }
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          -2968,
          56
        ],
        "id": "87a908be-9f09-42f1-8c14-143c3bcf2b01",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "si6kdb1qPc1J6iuX",
            "name": "OpenAi Supabase Hybrid"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Given the following location details, return the most accurate IANA timezone name.\n\nCountry: {{ $json.country }}\nCity: {{ $json.city }}\n\nRemember:\n- Use your internal knowledge and web search if needed.\n- Respond **only** with valid JSON like this:\n{\"timezone\": \"America/Mexico_City\"}\n- If you cannot find a valid match, return:\n{\"timezone\": \"UNDEFINED\"}\n",
          "batching": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.7,
        "position": [
          -3040,
          -168
        ],
        "id": "2bd44feb-1d20-468b-8bd0-a838f49b035e",
        "name": "timeZone retriver"
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "sessionId"
              },
              {
                "name": "name"
              },
              {
                "name": "email"
              },
              {
                "name": "country"
              },
              {
                "name": "city"
              },
              {
                "name": "work_type"
              },
              {
                "name": "business_name"
              },
              {
                "name": "role"
              },
              {
                "name": "business_model"
              },
              {
                "name": "team_size"
              },
              {
                "name": "ai_knowledge"
              },
              {
                "name": "main_challenge"
              },
              {
                "name": "past_attempt"
              },
              {
                "name": "timezone"
              },
              {
                "name": "language"
              },
              {
                "name": "current_question_index"
              },
              {
                "name": "status"
              },
              {
                "name": "total_questions",
                "type": "number"
              },
              {
                "name": "mode"
              },
              {
                "name": "message"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -5408,
          220
        ],
        "id": "86f13123-538a-47fe-b2eb-cd6c4041d120",
        "name": "Trigger"
      },
      {
        "parameters": {
          "jsCode": "// Build payload para timezone con AI\nconst data = $json;\nreturn [{\n  json: {\n    sessionId: data.sessionId,\n    timezone: data.timezone || null,\n    city: data.city || null,\n    country: data.country || null\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2336,
          -168
        ],
        "id": "a857af66-8dcf-4042-99de-b64eda52a9f7",
        "name": "Build Timezone Payload (AI)"
      },
      {
        "parameters": {
          "jsCode": "// Build payload para timezone sin AI\nconst data = $json;\nreturn [{\n  json: {\n    sessionId: data.sessionId,\n    timezone: data.timezone || null,\n    city: data.city || null,\n    country: data.country || null\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2336,
          80
        ],
        "id": "60cedc60-a916-4760-97ee-80c5bf5be76b",
        "name": "Build Timezone Payload (No AI)"
      },
      {
        "parameters": {
          "operation": "update",
          "collection": "leads",
          "updateKey": "sessionId",
          "fields": "status,mode,current_question_index",
          "options": {}
        },
        "id": "aa08f00b-ec2a-4845-b33d-e2ac2e256d18",
        "name": "Update Status to InProgress",
        "type": "n8n-nodes-base.mongoDb",
        "typeVersion": 1.1,
        "position": [
          -2624,
          -464
        ],
        "alwaysOutputData": true,
        "credentials": {
          "mongoDb": {
            "id": "KNCVFnX6uXTL664z",
            "name": "MongoDB n8n"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Prepara payload para actualizar status al iniciar cuestionario\n// Y también prepara los datos de respuesta para retornar la primera pregunta\nconst data = $json;\nreturn [{\n  json: {\n    sessionId: data.sessionId,\n    status: 'in_progress',\n    mode: 'full',\n    // Response fields para retornar después del update\n    _response: {\n      action: data.action,\n      next_question: data.next_question,\n      current_question_index: data.current_question_index,\n      finished: data.finished,\n      sessionId: data.sessionId\n    }\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2976,
          -464
        ],
        "id": "867366bf-cc6d-42a9-8563-a637b14681e4",
        "name": "Build Status Payload"
      },
      {
        "parameters": {
          "jsCode": "// Retorna la respuesta de inicio de cuestionario después de actualizar status\nconst data = $('Build Status Payload').item.json._response;\nreturn [{\n  json: {\n    action: data.action,\n    next_question: data.next_question,\n    current_question_index: data.current_question_index,\n    finished: data.finished,\n    sessionId: data.sessionId\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2336,
          -464
        ],
        "id": "cd311888-b268-486a-8397-f65922e345c4",
        "name": "Return Start Response"
      },
      {
        "parameters": {
          "operation": "update",
          "collection": "leads",
          "updateKey": "sessionId",
          "fields": "current_question_index",
          "options": {}
        },
        "id": "78a91992-9126-419c-935c-5ca48ea55a71",
        "name": "Update Question Index",
        "type": "n8n-nodes-base.mongoDb",
        "typeVersion": 1.1,
        "position": [
          -2112,
          272
        ],
        "alwaysOutputData": true,
        "credentials": {
          "mongoDb": {
            "id": "KNCVFnX6uXTL664z",
            "name": "MongoDB n8n"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Preparar payload para marcar el lead como calificado\nconst data = $json;\nreturn [{\n  json: {\n    sessionId: data.sessionId,\n    status: 'qualified'\n  }\n}];"
        },
        "id": "d9863e1e-80c4-40cf-b5f0-d8abe0ebbaa5",
        "name": "Build Qualified Payload",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -3776,
          780
        ]
      },
      {
        "parameters": {
          "operation": "update",
          "collection": "leads",
          "updateKey": "sessionId",
          "fields": "status",
          "options": {}
        },
        "id": "3107a57a-fd59-49d9-8b23-ca0c9990c028",
        "name": "Update Status to Qualified",
        "type": "n8n-nodes-base.mongoDb",
        "typeVersion": 1.1,
        "position": [
          -3488,
          780
        ],
        "alwaysOutputData": true,
        "credentials": {
          "mongoDb": {
            "id": "KNCVFnX6uXTL664z",
            "name": "MongoDB n8n"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "collection": "leads",
          "updateKey": "sessionId",
          "fields": "={{ Object.keys($json).filter(k => !['sessionId', 'next_index', 'finished', 'next_question'].includes(k)).join(',') }}",
          "options": {}
        },
        "id": "95217eb1-5aeb-41d9-ad8a-7fa610f3b61a",
        "name": "Update Multiple Fields",
        "type": "n8n-nodes-base.mongoDb",
        "typeVersion": 1.1,
        "position": [
          -3264,
          -464
        ],
        "credentials": {
          "mongoDb": {
            "id": "KNCVFnX6uXTL664z",
            "name": "MongoDB n8n"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Escanea los datos actuales y encuentra la primera pregunta vacía\nconst lead = $('Trigger').item.json;\nconst aiOutput = $('AI Data Extractor').item.json.output || $('AI Data Extractor').item.json.text || '{}';\nconst questions = $('Filter Questions By Mode').item.json.questions;\n\nlet extracted = {};\ntry {\n  // ROBUST PARSING: Clean Markdown if AI ignores instructions\n  const cleanJson = typeof aiOutput === 'string' \n    ? aiOutput.replace(/```json|```/g, \"\").trim() \n    : aiOutput;\n    \n  extracted = typeof cleanJson === 'string' ? JSON.parse(cleanJson) : cleanJson;\n  console.log('[Find Next Empty] Extracted Data:', extracted);\n} catch (e) { \n  console.error('[Find Next Empty] AI Parse Error:', e.message);\n}\n\n// Merge lead con los nuevos datos extraídos\nconst currentData = { ...lead, ...extracted };\n\n// Buscar primer índice vacío\nlet nextIndex = 0;\nfor (let i = 0; i < questions.length; i++) {\n  const key = questions[i].key;\n  if (!currentData[key] || currentData[key] === 'No proporcionado') {\n    nextIndex = i;\n    break;\n  }\n  if (i === questions.length - 1) nextIndex = questions.length;\n}\n\nreturn [{\n  json: {\n    next_index: nextIndex,\n    finished: nextIndex >= questions.length,\n    next_question: nextIndex < questions.length ? questions[nextIndex].text : null,\n    sessionId: lead.sessionId,\n    // FLATTEN DATA: MongoDB node needs keys at the root of the input item\n    ...extracted\n  }\n}];"
        },
        "id": "e7cef48a-4ed3-4d1c-adb6-056cfb70db12",
        "name": "Find Next Question Index",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -3488,
          -464
        ]
      },
      {
        "parameters": {
          "query": "=Información corporativa de {{ $('Trigger').item.json.business_name }}",
          "options": {
            "search_depth": "basic"
          }
        },
        "type": "@tavily/n8n-nodes-tavily.tavily",
        "typeVersion": 1,
        "position": [
          -2976,
          656
        ],
        "id": "6c4597d5-a440-466a-90c7-055918340851",
        "name": "Search",
        "credentials": {
          "tavilyApi": {
            "id": "W0dexWLOaXVQdDMP",
            "name": "Tavily"
          }
        }
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4o-mini"
          },
          "responsesApiEnabled": false,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          -3768,
          -240
        ],
        "id": "e3e6043a-3284-483f-97ed-7f31894822f6",
        "name": "OpenAI Chat Model1",
        "credentials": {
          "openAiApi": {
            "id": "si6kdb1qPc1J6iuX",
            "name": "OpenAi Supabase Hybrid"
          }
        }
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4o-mini"
          },
          "responsesApiEnabled": false,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          -2616,
          880
        ],
        "id": "5870c022-ec05-4622-ab0b-417e9f23031c",
        "name": "OpenAI Chat Model2",
        "credentials": {
          "openAiApi": {
            "id": "si6kdb1qPc1J6iuX",
            "name": "OpenAi Supabase Hybrid"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chainSummarization",
        "typeVersion": 2.1,
        "position": [
          -2688,
          656
        ],
        "id": "8890ed98-9d53-47a4-9421-944923a811ae",
        "name": "Summarization Chain"
      }
    ],
    "connections": {
      "Get Questions": {
        "main": [
          [
            {
              "node": "Filter Questions By Mode",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter Questions By Mode": {
        "main": [
          [
            {
              "node": "Get Current Question",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Data Extractor": {
        "main": [
          [
            {
              "node": "Find Next Question Index",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Find Next Question Index": {
        "main": [
          [
            {
              "node": "Update Multiple Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Multiple Fields": {
        "main": [
          [
            {
              "node": "Build Status Payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Current Question": {
        "main": [
          [
            {
              "node": "IF Awaiting Confirmation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Awaiting Confirmation": {
        "main": [
          [
            {
              "node": "Handle Confirmation",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Route Start or Continue",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Route Start or Continue": {
        "main": [
          [
            {
              "node": "AI Data Extractor",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "IF Is City Question",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Status Payload": {
        "main": [
          [
            {
              "node": "Update Status to InProgress",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Status to InProgress": {
        "main": [
          [
            {
              "node": "Return Start Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Is City Question": {
        "main": [
          [
            {
              "node": "Infer Timezone",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Validate & Normalize",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Infer Timezone": {
        "main": [
          [
            {
              "node": "IF Needs AI Timezone",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Needs AI Timezone": {
        "main": [
          [
            {
              "node": "timeZone retriver",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Build Timezone Payload (No AI)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "timeZone retriver": {
        "main": [
          [
            {
              "node": "Parse AI Timezone",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse AI Timezone": {
        "main": [
          [
            {
              "node": "Build Timezone Payload (AI)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Timezone Payload (AI)": {
        "main": [
          [
            {
              "node": "Update MongoDB (Timezone)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Timezone Payload (No AI)": {
        "main": [
          [
            {
              "node": "Update MongoDB (Timezone)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update MongoDB (Timezone)": {
        "main": [
          [
            {
              "node": "Return After Timezone",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate & Normalize": {
        "main": [
          [
            {
              "node": "IF Is Valid",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Is Valid": {
        "main": [
          [
            {
              "node": "Transform Field",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Return Error Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Transform Field": {
        "main": [
          [
            {
              "node": "Update MongoDB (Field)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update MongoDB (Field)": {
        "main": [
          [
            {
              "node": "Check If Finished",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check If Finished": {
        "main": [
          [
            {
              "node": "Update Question Index",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Question Index": {
        "main": [
          [
            {
              "node": "IF Questionnaire Finished",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Questionnaire Finished": {
        "main": [
          [
            {
              "node": "Generate Summary",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Return Ask Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Qualified Payload": {
        "main": [
          [
            {
              "node": "Update Status to Qualified",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Status to Qualified": {
        "main": [
          [
            {
              "node": "IF Has Business",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Summary": {
        "main": [
          [
            {
              "node": "Build Awaiting Payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Awaiting Payload": {
        "main": [
          [
            {
              "node": "Update Status to Awaiting",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Status to Awaiting": {
        "main": [
          [
            {
              "node": "Return Ask Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Handle Confirmation": {
        "main": [
          [
            {
              "node": "Build Qualified Payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Has Business": {
        "main": [
          [
            {
              "node": "Search",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Notify Agency (Gmail)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "timeZone retriver",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Trigger": {
        "main": [
          [
            {
              "node": "Detect Express Intent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Detect Express Intent": {
        "main": [
          [
            {
              "node": "Get Questions",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Search": {
        "main": [
          [
            {
              "node": "Summarization Chain",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "AI Data Extractor",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model2": {
        "ai_languageModel": [
          [
            {
              "node": "Summarization Chain",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Summarization Chain": {
        "main": [
          [
            {
              "node": "Notify Agency (Gmail)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Alex Guajardo",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "f1ff90e5-7d36-463b-90e5-32e620725542",
  "connections": {
    "Get Questions": {
      "main": [
        [
          {
            "node": "Filter Questions By Mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Questions By Mode": {
      "main": [
        [
          {
            "node": "Get Current Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Data Extractor": {
      "main": [
        [
          {
            "node": "Find Next Question Index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Next Question Index": {
      "main": [
        [
          {
            "node": "Update Multiple Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Multiple Fields": {
      "main": [
        [
          {
            "node": "Build Status Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current Question": {
      "main": [
        [
          {
            "node": "IF Awaiting Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Awaiting Confirmation": {
      "main": [
        [
          {
            "node": "Handle Confirmation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route Start or Continue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Start or Continue": {
      "main": [
        [
          {
            "node": "AI Data Extractor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Is City Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Status Payload": {
      "main": [
        [
          {
            "node": "Update Status to InProgress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status to InProgress": {
      "main": [
        [
          {
            "node": "Return Start Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Is City Question": {
      "main": [
        [
          {
            "node": "Infer Timezone",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validate & Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Infer Timezone": {
      "main": [
        [
          {
            "node": "IF Needs AI Timezone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Needs AI Timezone": {
      "main": [
        [
          {
            "node": "timeZone retriver",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Timezone Payload (No AI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "timeZone retriver": {
      "main": [
        [
          {
            "node": "Parse AI Timezone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Timezone": {
      "main": [
        [
          {
            "node": "Build Timezone Payload (AI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Timezone Payload (AI)": {
      "main": [
        [
          {
            "node": "Update MongoDB (Timezone)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Timezone Payload (No AI)": {
      "main": [
        [
          {
            "node": "Update MongoDB (Timezone)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update MongoDB (Timezone)": {
      "main": [
        [
          {
            "node": "Return After Timezone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Normalize": {
      "main": [
        [
          {
            "node": "IF Is Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Is Valid": {
      "main": [
        [
          {
            "node": "Transform Field",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Field": {
      "main": [
        [
          {
            "node": "Update MongoDB (Field)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update MongoDB (Field)": {
      "main": [
        [
          {
            "node": "Check If Finished",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Finished": {
      "main": [
        [
          {
            "node": "Update Question Index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Question Index": {
      "main": [
        [
          {
            "node": "IF Questionnaire Finished",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Questionnaire Finished": {
      "main": [
        [
          {
            "node": "Generate Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Ask Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Qualified Payload": {
      "main": [
        [
          {
            "node": "Update Status to Qualified",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status to Qualified": {
      "main": [
        [
          {
            "node": "IF Has Business",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Summary": {
      "main": [
        [
          {
            "node": "Build Awaiting Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Awaiting Payload": {
      "main": [
        [
          {
            "node": "Update Status to Awaiting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status to Awaiting": {
      "main": [
        [
          {
            "node": "Return Ask Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Confirmation": {
      "main": [
        [
          {
            "node": "Build Qualified Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Has Business": {
      "main": [
        [
          {
            "node": "Search",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Agency (Gmail)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "timeZone retriver",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Trigger": {
      "main": [
        [
          {
            "node": "Detect Express Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Express Intent": {
      "main": [
        [
          {
            "node": "Get Questions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search": {
      "main": [
        [
          {
            "node": "Summarization Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Data Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Summarization Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Summarization Chain": {
      "main": [
        [
          {
            "node": "Notify Agency (Gmail)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-19T13:20:17.309Z",
  "id": "3tPqNquDs6jC5YS8",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Lead Qualification Flow",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Define todas las preguntas en ambos idiomas\nconst QUESTIONS = {\n  \"es\": [\n    {\n      id: 0,\n      key: \"name\",\n      text: \"¿Podrías decirme tu nombre completo?\",\n      required: true,\n      blocking: true\n    },\n    {\n      id: 1,\n      key: \"email\",\n      text: \"¿Cuál es tu correo electrónico?\",\n      required: true,\n      blocking: true\n    },\n    {\n      id: 2,\n      key: \"country\",\n      text: \"¿De qué país nos contactas?\",\n      required: true,\n      blocking: true\n    },\n    {\n      id: 3,\n      key: \"city\",\n      text: \"¿En qué ciudad te encuentras actualmente?\",\n      required: true,\n      blocking: true\n    },\n    {\n      id: 4,\n      key: \"work_type\",\n      text: \"¿Tienes actualmente un negocio o trabajas dentro de una empresa?\",\n      required: false,\n      blocking: false\n    },\n    {\n      id: 5,\n      key: \"business_name\",\n      text: \"Si tienes un negocio, ¿cómo se llama y a qué se dedica principalmente?\",\n      required: false,\n      blocking: false\n    },\n    {\n      id: 6,\n      key: \"role\",\n      text: \"¿Cuál es tu rol dentro de la empresa o proyecto?\",\n      required: false,\n      blocking: false\n    },\n    {\n      id: 7,\n      key: \"business_model\",\n      text: \"¿Tu empresa ofrece productos físicos, servicios, o es un negocio digital?\",\n      required: false,\n      blocking: false\n    },\n    {\n      id: 8,\n      key: \"team_size\",\n      text: \"¿Cuántas personas forman parte actualmente de tu equipo o negocio?\",\n      required: false,\n      blocking: false\n    },\n    {\n      id: 9,\n      key: \"ai_knowledge\",\n      text: \"¿Qué tan familiarizado estás con el uso de la inteligencia artificial en tu negocio o sector?\",\n      required: false,\n      blocking: false\n    },\n    {\n      id: 10,\n      key: \"main_challenge\",\n      text: \"¿Cuál es el principal desafío que estás buscando resolver ahora mismo en tu empresa?\",\n      required: false,\n      blocking: false\n    },\n    {\n      id: 11,\n      key: \"past_attempt\",\n      text: \"¿Has intentado implementar alguna herramienta o estrategia digital para resolverlo? Si es así, ¿cuál?\",\n      required: false,\n      blocking: false\n    }\n  ],\n  \"en\": [\n    {\n      id: 0,\n      key: \"name\",\n      text: \"Could you tell me your full name?\",\n      required: true,\n      blocking: true\n    },\n    {\n      id: 1,\n      key: \"email\",\n      text: \"What's your email address?\",\n      required: true,\n      blocking: true\n    },\n    {\n      id: 2,\n      key: \"country\",\n      text: \"Which country are you contacting us from?\",\n      required: true,\n      blocking: true\n    },\n    {\n      id: 3,\n      key: \"city\",\n      text: \"Which city are you currently in?\",\n      required: true,\n      blocking: true\n    },\n    {\n      id: 4,\n      key: \"work_type\",\n      text: \"Do you currently have a business or work within a company?\",\n      required: false,\n      blocking: false\n    },\n    {\n      id: 5,\n      key: \"business_name\",\n      text: \"If you have a business, what is its name and what does it primarily do?\",\n      required: false,\n      blocking: false\n    },\n    {\n      id: 6,\n      key: \"role\",\n      text: \"What's your role within the company or project?\",\n      required: false,\n      blocking: false\n    },\n    {\n      id: 7,\n      key: \"business_model\",\n      text: \"Does your company offer physical products, services, or is it a digital business?\",\n      required: false,\n      blocking: false\n    },\n    {\n      id: 8,\n      key: \"team_size\",\n      text: \"How many people are currently part of your team or business?\",\n      required: false,\n      blocking: false\n    },\n    {\n      id: 9,\n      key: \"ai_knowledge\",\n      text: \"How familiar are you with using artificial intelligence in your business or sector?\",\n      required: false,\n      blocking: false\n    },\n    {\n      id: 10,\n      key: \"main_challenge\",\n      text: \"What is the main challenge you are looking to solve right now in your company?\",\n      required: false,\n      blocking: false\n    },\n    {\n      id: 11,\n      key: \"past_attempt\",\n      text: \"Have you tried implementing any digital tools or strategies to solve it? If so, which ones?\",\n      required: false,\n      blocking: false\n    }\n  ]\n};\n\nreturn [{ json: { questions: QUESTIONS } }];"
      },
      "id": "f994aef5-c3e5-4f0f-95f9-5fb3957e14e3",
      "name": "Get Questions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4960,
        220
      ]
    },
    {
      "parameters": {},
      "id": "ecf7acbc-e60b-405d-a7a9-db52bebbd359",
      "name": "AI Data Extractor",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -3840,
        -464
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-business",
              "leftValue": "={{ $('Trigger').item.json.business_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3e2e3d9e-9a2d-4a8b-91d2-367759624d7b",
      "name": "IF Has Business",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3264,
        780
      ]
    },
    {
      "parameters": {
        "sendTo": "empathoai@gmail.com",
        "subject": "=🚀 Nuevo Lead Calificado: {{ $node[\"Generate Summary\"].json.lead_data.name }}",
        "message": "=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <style>\n        body { font-family: 'Inter', system-ui, sans-serif; line-height: 1.6; color: #1a1a1a; margin: 0; padding: 0; background-color: #f4f7f9; }\n        .container { max-width: 600px; margin: 20px auto; background: #ffffff; border-radius: 12px; overflow: hidden; box-shadow: 0 4px 6px rgba(0,0,0,0.05); }\n        .header { background: #000000; padding: 30px; text-align: center; }\n        .logo { max-width: 150px; height: auto; }\n        .content { padding: 30px; }\n        .lead-badge { background: #e3f2fd; color: #1976d2; padding: 4px 12px; border-radius: 20px; font-size: 12px; font-weight: 600; text-transform: uppercase; margin-bottom: 10px; display: inline-block; }\n        h1 { margin: 0; font-size: 24px; color: #1a1a1a; }\n        .data-grid { display: grid; grid-template-columns: 1fr 1fr; gap: 20px; margin: 25px 0; border-top: 1px solid #eee; padding-top: 25px; }\n        .data-item { margin-bottom: 15px; }\n        .label { font-size: 11px; color: #666; text-transform: uppercase; letter-spacing: 0.5px; font-weight: 600; }\n        .value { font-size: 15px; font-weight: 500; color: #333; }\n        .bi-section { background: #f8f9fa; border-left: 4px solid #000; padding: 20px; margin-top: 20px; border-radius: 0 8px 8px 0; }\n        .bi-title { font-weight: 700; color: #000; margin-bottom: 10px; display: flex; align-items: center; gap: 8px; }\n        .footer { text-align: center; padding: 20px; font-size: 12px; color: #999; border-top: 1px solid #eee; }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <img src=\"https://static.wixstatic.com/media/01149e_95834888a7c24bf8973b110bc9363d6b~mv2.png\" alt=\"Dania AI\" class=\"logo\">\n        </div>\n        <div class=\"content\">\n            <span class=\"lead-badge\">Lead Calificado 🔥</span>\n            <h1>{{ $node[\"Generate Summary\"].json.lead_data.name }}</h1>\n            \n            <div class=\"data-grid\">\n                <div class=\"data-item\">\n                    <div class=\"label\">Email</div>\n                    <div class=\"value\">{{ $node[\"Generate Summary\"].json.lead_data.email }}</div>\n                </div>\n                <div class=\"data-item\">\n                    <div class=\"label\">Ubicación</div>\n                    <div class=\"value\">{{ $node[\"Generate Summary\"].json.lead_data.city }}, {{ $node[\"Generate Summary\"].json.lead_data.country }} ({{ $node[\"Generate Summary\"].json.lead_data.timezone }})</div>\n                </div>\n                <div class=\"data-item\">\n                    <div class=\"label\">Negocio</div>\n                    <div class=\"value\">{{ $node[\"Generate Summary\"].json.lead_data.business_name || 'N/A' }}</div>\n                </div>\n                <div class=\"data-item\">\n                    <div class=\"label\">Modelo</div>\n                    <div class=\"value\">{{ $node[\"Generate Summary\"].json.lead_data.business_model || 'N/A' }}</div>\n                </div>\n            </div>\n\n            <div class=\"data-item\">\n                <div class=\"label\">Desafío Principal</div>\n                <div class=\"value\">{{ $node[\"Generate Summary\"].json.lead_data.main_challenge }}</div>\n            </div>\n\n            {{ $node[\"Summarization Chain\"] ? '<div class=\"bi-section\"><div class=\"bi-title\">🕵️ Inteligencia Estratégica (Tavily AI)</div><div class=\"value\">' + $node[\"Summarization Chain\"].json.text + '</div></div>' : '' }}\n        </div>\n        <div class=\"footer\">\n            &copy; 2026 Empatho AI Agency | Dania Assistant Intelligence System\n        </div>\n    </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "e653d253-714f-491a-a8b5-801da9988d30",
      "name": "Notify Agency (Gmail)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -2336,
        780
      ],
      "webhookId": "ea482e6a-26e5-41d3-a185-1b4fff9e2f10",
      "credentials": {
        "gmailOAuth2": {
          "id": "lJvypbA2AJhKcdY5",
          "name": "Gmail API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Filtra preguntas según idioma y modo\nconst lang = $('Trigger').item.json.language || 'es';\nconst mode = $('Trigger').item.json.mode || 'full';\nconst allQuestions = $('Get Questions').item.json.questions;\n\nconst localized = allQuestions[lang];\n\nconst filtered = mode === 'minimal'\n  ? localized.filter(q => q.required)\n  : localized;\n\nreturn [{\n  json: {\n    questions: filtered,\n    total_questions: filtered.length,\n    mode: mode,\n    language: lang\n  }\n}];"
      },
      "id": "05390e09-14c4-4ac7-8a92-ea76824ea574",
      "name": "Filter Questions By Mode",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4736,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "// Detectar si el usuario está apurado y auto-activar modo minimal\nconst message = $('Trigger').item.json.message?.toLowerCase() || '';\nconst currentMode = $('Trigger').item.json.mode || 'full';\n\n// Enhanced patterns to detect express intent\nconst expressPatterns = [\n  /no\\s+(tengo|tiene|hay)\\s+tiempo/i,  // \"no tengo tiempo\", \"no tiene tiempo\"\n  /\\brapido\\b/i,                        // \"rápido\"\n  /\\bapurado\\b/i,                       // \"apurado\"\n  /\\bcorto\\b/i,                         // \"corto\"\n  /\\bexpress\\b/i,                       // \"express\"\n  /\\bminimal?\\b/i,                      // \"minimal\", \"mínimo\"\n  /poco\\s+tiempo/i,                     // \"poco tiempo\"\n  /sin\\s+tiempo/i,                      // \"sin tiempo\"\n  /mucha\\s+prisa/i,                     // \"mucha prisa\"\n  /demasiadas\\s+preguntas/i,           // \"demasiadas preguntas\"\n  /cuantas\\s+preguntas/i,              // \"cuantas preguntas\" - user asking about quantity suggests concern\n];\n\nconst isExpressIntent = expressPatterns.some(pattern => pattern.test(message));\n\nif (currentMode === 'full' && isExpressIntent) {\n  console.log('[Express] Usuario apurado detectado - Cambiar a modo minimal. Message:', message);\n  return [{\n    json: {\n      ...($('Trigger').item.json),\n      mode: 'minimal',\n      _express_detected: true,\n      _trigger_message: message\n    }\n  }];\n}\n\nreturn [{ json: $('Trigger').item.json }];"
      },
      "id": "7154e0c7-888b-404b-bc8d-3c16262a1eaa",
      "name": "Detect Express Intent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5184,
        220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "mode-start-check",
              "leftValue": "={{ $json._mode }}",
              "rightValue": "start",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7bb0f9fd-97ca-4289-b5d3-aac4a4f53a87",
      "name": "Route Start or Continue",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4064,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Obtiene la pregunta actual según el índice\n// MEJORADO: Detecta si es INICIO del cuestionario o CONTINUACIÓN\nconst triggerData = $('Trigger').item.json;\nconst filterData = $('Filter Questions By Mode').item.json;\n\nconst questions = filterData.questions || [];\nconst index = triggerData.current_question_index ?? 0;\nconst sessionId = triggerData.sessionId;\nconst message = (triggerData.message || '').toLowerCase();\n\nif (!Array.isArray(questions) || questions.length === 0) {\n  return [{\n    json: {\n      error: 'No questions found',\n      sessionId,\n      current_index: index,\n    }\n  }];\n}\n\nconst currentQuestion = questions[index];\n\n// LÓGICA DE DETECCIÓN DE INICIO:\n// Solo es inicio si:\n// 1. index=0 (primera pregunta)\n// 2. name está vacío (no ha respondido nada)\n// 3. El mensaje contiene palabras clave de intención (quiero, agendar, cita, etc)\n//    o es una opción del menú (1, 2, 3)\n\nconst startKeywords = /quiero|agendar|agenda|cita|información|servicios|sí.*quiero|si.*quiero|^1$|^2$|^3$/i;\nconst isStartKeyword = startKeywords.test(message);\nconst isStartOfQuestionnaire = (index === 0 && !triggerData.name && isStartKeyword);\n\nconsole.log('[Get Current Question] Analysis:', { index, hasName: !!triggerData.name, message, isStartKeyword, isStartOfQuestionnaire });\n\nif (isStartOfQuestionnaire) {\n  // Primera llamada - retornar primera pregunta sin intentar validar el message\n  console.log('[Get Current Question] INICIO de cuestionario - retornando primera pregunta');\n  return [{\n    json: {\n      action: 'ask',\n      next_question: currentQuestion.text,\n      current_question_index: 0,\n      sessionId,\n      finished: false,\n      _mode: 'start'\n    }\n  }];\n}\n\n// Continuación normal - el message es respuesta a la pregunta actual\nconsole.log('[Get Current Question] CONTINUACIÓN - procesando respuesta para:', currentQuestion.key);\nreturn [{\n  json: {\n    ...currentQuestion,\n    current_index: index,\n    sessionId,\n    _mode: 'continue'\n  }\n}];"
      },
      "id": "5cd03c7f-07bb-4ccc-be79-134455a60f49",
      "name": "Get Current Question",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4512,
        220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "city-check",
              "leftValue": "={{ $json.key }}",
              "rightValue": "city",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6e2ac3c2-55a5-435e-97d3-bdf9286c1f66",
      "name": "IF Is City Question",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3776,
        148
      ]
    },
    {
      "parameters": {
        "jsCode": "// Inferencia de timezone sin cache (cache no disponible en toolWorkflow)\n// Función de normalización\nconst normalize = s => s.normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g,\"\").trim().toUpperCase();\n\n// Obtener datos\nconst leadData = $('Trigger').item.json;\nconst country = normalize(leadData.country || \"\");\nconst city = normalize($('Trigger').item.json.message);\n\nconsole.log('[Timezone] Checking:', { country, city });\n\n// Mapa local de zonas horarias (LATAM + España + NZ)\nconst TIMEZONE_MAP = {\n  \"MEXICO\": {\n    \"GUADALAJARA\": \"America/Mexico_City\",\n    \"MONTERREY\": \"America/Monterrey\",\n    \"TIJUANA\": \"America/Tijuana\",\n    \"CANCUN\": \"America/Cancun\",\n    \"CIUDAD DE MEXICO\": \"America/Mexico_City\",\n    \"CDMX\": \"America/Mexico_City\",\n    \"MERIDA\": \"America/Merida\",\n    \"PUEBLA\": \"America/Mexico_City\",\n    \"QUERETARO\": \"America/Mexico_City\",\n    \"JALISCO\": \"America/Mexico_City\",\n    \"NUEVO LEON\": \"America/Monterrey\",\n    \"ESTADO DE MEXICO\": \"America/Mexico_City\",\n    \"YUCATAN\": \"America/Merida\"\n  },\n  \"COLOMBIA\": {\n    \"BOGOTA\": \"America/Bogota\",\n    \"MEDELLIN\": \"America/Bogota\",\n    \"CALI\": \"America/Bogota\",\n    \"BARRANQUILLA\": \"America/Bogota\",\n    \"CARTAGENA\": \"America/Bogota\",\n    \"ANTIOQUIA\": \"America/Bogota\"\n  },\n  \"ESPAÑA\": {\n    \"MADRID\": \"Europe/Madrid\",\n    \"BARCELONA\": \"Europe/Madrid\",\n    \"VALENCIA\": \"Europe/Madrid\",\n    \"SEVILLA\": \"Europe/Madrid\",\n    \"BILBAO\": \"Europe/Madrid\"\n  },\n  \"SPAIN\": {\n    \"MADRID\": \"Europe/Madrid\",\n    \"BARCELONA\": \"Europe/Madrid\"\n  },\n  \"ARGENTINA\": {\n    \"BUENOS AIRES\": \"America/Argentina/Buenos_Aires\",\n    \"CORDOBA\": \"America/Argentina/Cordoba\",\n    \"ROSARIO\": \"America/Argentina/Cordoba\",\n    \"MENDOZA\": \"America/Argentina/Mendoza\"\n  },\n  \"BRASIL\": {\n    \"SAO PAULO\": \"America/Sao_Paulo\",\n    \"RIO DE JANEIRO\": \"America/Sao_Paulo\",\n    \"BRASILIA\": \"America/Sao_Paulo\",\n    \"SALVADOR\": \"America/Bahia\",\n    \"FORTALEZA\": \"America/Fortaleza\"\n  },\n  \"BRAZIL\": {\n    \"SAO PAULO\": \"America/Sao_Paulo\",\n    \"RIO DE JANEIRO\": \"America/Sao_Paulo\"\n  },\n  \"CHILE\": {\n    \"SANTIAGO\": \"America/Santiago\",\n    \"VALPARAISO\": \"America/Santiago\"\n  },\n  \"PERU\": {\n    \"LIMA\": \"America/Lima\",\n    \"AREQUIPA\": \"America/Lima\"\n  },\n  \"ECUADOR\": {\n    \"QUITO\": \"America/Guayaquil\",\n    \"GUAYAQUIL\": \"America/Guayaquil\"\n  },\n  \"NEW ZEALAND\": {\n    \"AUCKLAND\": \"Pacific/Auckland\",\n    \"WELLINGTON\": \"Pacific/Auckland\"\n  }\n};\n\n// Buscar en mapa local\nconst timezone = TIMEZONE_MAP[country]?.[city] || null;\n\nif (timezone) {\n  console.log('[Timezone] Local DB HIT:', timezone);\n  \n  return [{\n    json: {\n      timezone: timezone,\n      from_cache: false,\n      needs_ai: false,\n      country: country,\n      city: city,\n      sessionId: $('Get Current Question').item.json.sessionId\n    }\n  }];\n}\n\n// No encontrado - necesita AI\nconsole.log('[Timezone] Local DB MISS - needs AI');\nreturn [{\n  json: {\n    timezone: null,\n    from_cache: false,\n    needs_ai: true,\n    country: country,\n    city: city,\n    sessionId: $('Get Current Question').item.json.sessionId\n  }\n}];"
      },
      "id": "44066d3e-ea0a-49d7-a61f-c125968b2b3f",
      "name": "Infer Timezone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3488,
        -44
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "needs-ai-check",
              "leftValue": "={{ $json.needs_ai }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "88e29e3b-c17d-4003-9391-c29190a8aace",
      "name": "IF Needs AI Timezone",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3264,
        -44
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse AI response con error handling robusto (sin cache - no disponible en toolWorkflow)\nconst country = $('Infer Timezone').item.json.country;\nconst city = $('Infer Timezone').item.json.city;\n\nlet timezone = \"UNDEFINED\";\n\ntry {\n  // El output de OpenAI puede venir en diferentes formatos\n  const aiOutput = $input.item.json.output || $input.item.json.text || $input.item.json.response || \"\";\n  \n  console.log('[AI Timezone] Raw output:', aiOutput);\n  \n  // Limpiar markdown si existe\n  const cleanOutput = aiOutput.replace(/```json|```/g, \"\").trim();\n  \n  // Intentar parsear JSON\n  const parsed = JSON.parse(cleanOutput);\n  timezone = parsed.timezone || \"UNDEFINED\";\n  \n  console.log('[AI Timezone] Parsed timezone:', timezone);\n  \n} catch (error) {\n  console.error('[AI Timezone] Parse error:', error.message);\n  timezone = \"UNDEFINED\";\n}\n\n// Log timezone inference result\nif (timezone && timezone !== \"UNDEFINED\") {\n  console.log('[AI Timezone] Successfully inferred:', { country, city, timezone });\n}\n\nreturn [{\n  json: {\n    timezone: timezone,\n    from_cache: false,\n    from_ai: true,\n    country: country,\n    city: city,\n    sessionId: $('Infer Timezone').item.json.sessionId\n  }\n}];"
      },
      "id": "6b73c864-5e37-4b50-98b4-48927a75e517",
      "name": "Parse AI Timezone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2624,
        -168
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "leads",
        "updateKey": "sessionId",
        "fields": "timezone,city,country",
        "options": {}
      },
      "id": "3b9521e3-dea2-44c4-bdfd-5244b4b86c61",
      "name": "Update MongoDB (Timezone)",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        -2112,
        -44
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "KNCVFnX6uXTL664z",
          "name": "MongoDB n8n"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Preparar respuesta para el orquestador (skip_wait para city)\nconst questions = $('Filter Questions By Mode').item.json.questions;\nconst currentIndex = $('Get Current Question').item.json.current_index;\nconst totalQuestions = questions.length;\nconst newIndex = currentIndex + 1;\n\n// Verificar si terminó\nif (newIndex >= totalQuestions) {\n  return [{\n    json: {\n      action: \"summary\",\n      finished: true,\n      sessionId: $json.sessionId\n    }\n  }];\n}\n\n// Obtener siguiente pregunta\nconst nextQuestion = questions[newIndex];\n\nreturn [{\n  json: {\n    action: \"ask\",\n    next_question: nextQuestion.text,\n    finished: false,\n    sessionId: $json.sessionId,\n    current_question_index: newIndex\n  }\n}];"
      },
      "id": "6ab4afc6-3c98-44a5-8c5a-766e6d490335",
      "name": "Return After Timezone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1856,
        -32
      ]
    },
    {
      "parameters": {
        "jsCode": "// Validar y normalizar respuesta del usuario\nconst key = $('Get Current Question').item.json.key;\nconst blocking = $('Get Current Question').item.json.blocking;\nconst userMessage = $('Trigger').item.json.message || \"\";\nconst msg = userMessage.trim();\nlet normalized = msg;\n\nconsole.log('[Validate] Field:', key, 'Message:', msg, 'Blocking:', blocking);\n\n// ===== DETECCIÓN DE SALTO (SKIP) PARA CAMPOS NO BLOQUEANTES =====\nconst skipKeywords = /saltar|paso|no.*se|prefiero.*no|skip|n\\/a|omitir/i;\nif (!blocking && skipKeywords.test(msg)) {\n  console.log('[Validate] Optional field skipped by user');\n  return [{\n    json: {\n      action: \"valid\",\n      key: key,\n      value: \"No proporcionado\",\n      sessionId: $('Get Current Question').item.json.sessionId\n    }\n  }];\n}\n\n// ===== VALIDACIÓN DE NOMBRE =====\nif (key === \"name\") {\n  normalized = msg.toUpperCase().replace(/\\s+/g, \" \").trim();\n  \n  const words = normalized.split(\" \");\n  if (words.length < 2) {\n    console.log('[Validate] Name error: menos de 2 palabras');\n    return [{\n      json: {\n        action: \"error\",\n        error_msg: \"Por favor ingresa tu nombre completo (nombre y apellido).\",\n        sessionId: $('Get Current Question').item.json.sessionId\n      }\n    }];\n  }\n}\n\n// ===== VALIDACIÓN DE EMAIL =====\nif (key === \"email\") {\n  normalized = msg.toLowerCase().trim();\n  \n  // 1. Validar que tenga @ (CRÍTICO)\n  if (!normalized.includes('@')) {\n    console.log('[Validate] Email error: sin @');\n    return [{\n      json: {\n        action: \"error\",\n        error_msg: \"El email debe contener el símbolo @\",\n        sessionId: $('Get Current Question').item.json.sessionId\n      }\n    }];\n  }\n  \n  // 2. Split seguro\n  const [user, domain] = normalized.split('@');\n  \n  // 3. Validar que ambas partes existan (FIX v3.1)\n  if (!user || !domain) {\n    console.log('[Validate] Email error: user o domain vacío');\n    return [{\n      json: {\n        action: \"error\",\n        error_msg: \"Formato de email inválido\",\n        sessionId: $('Get Current Question').item.json.sessionId\n      }\n    }];\n  }\n  \n  // 4. Detección de typos (FIX #2: Agregado gmaill.com)\n  const typos = {\n    'gmai.com': 'gmail.com',\n    'gmial.com': 'gmail.com',\n    'gmil.com': 'gmail.com',\n    'gmaill.com': 'gmail.com',     // FIX #2: Typo común (doble 'l')\n    'hotmai.com': 'hotmail.com',\n    'hotmial.com': 'hotmail.com',\n    'outlok.com': 'outlook.com',\n    'outlool.com': 'outlook.com',\n    'yaho.com': 'yahoo.com',\n    'yahooo.com': 'yahoo.com',\n    'iclou.com': 'icloud.com',\n    'icoud.com': 'icloud.com'\n  };\n  \n  if (typos[domain]) {\n    console.log('[Validate] Email typo detected:', domain, '->', typos[domain]);\n    return [{\n      json: {\n        action: \"error\",\n        error_msg: `¿Quisiste decir ${user}@${typos[domain]}?`,\n        sessionId: $('Get Current Question').item.json.sessionId\n      }\n    }];\n  }\n  \n  // 5. Validación RFC 5322\n  const emailRegex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/;\n  \n  if (!emailRegex.test(normalized)) {\n    console.log('[Validate] Email error: formato inválido');\n    return [{\n      json: {\n        action: \"error\",\n        error_msg: \"El formato del correo electrónico no es válido\",\n        sessionId: $('Get Current Question').item.json.sessionId\n      }\n    }];\n  }\n}\n\n// ===== NORMALIZACIÓN DE COUNTRY/CITY =====\nif (key === \"country\" || key === \"city\") {\n  normalized = msg.toUpperCase().trim();\n}\n\n// ===== NORMALIZACIÓN DE OTROS CAMPOS =====\nif (![\"name\", \"email\", \"country\", \"city\"].includes(key)) {\n  // Title Case para campos de texto libre\n  normalized = msg.toLowerCase().split(' ')\n    .map(w => w.charAt(0).toUpperCase() + w.slice(1))\n    .join(' ');\n}\n\nconsole.log('[Validate] Success:', { key, normalized });\n\nreturn [{\n  json: {\n    action: \"valid\",\n    key: key,\n    value: normalized,\n    sessionId: $('Get Current Question').item.json.sessionId\n  }\n}];"
      },
      "id": "9c0983e0-7cc8-420c-863c-c71c3c4d92a4",
      "name": "Validate & Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3488,
        368
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "valid-check",
              "leftValue": "={{ $json.action }}",
              "rightValue": "valid",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4aa0abe6-34b0-4255-91a2-58612a25fb08",
      "name": "IF Is Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3264,
        368
      ]
    },
    {
      "parameters": {
        "jsCode": "// Transformar { key: 'name', value: 'ALEX' } → { name: 'ALEX' }\nconst key = $json.key;\nconst value = $json.value;\nconst sessionId = $json.sessionId;\n\n// Construir objeto dinámico\nconst result = {\n  sessionId: sessionId\n};\n\n// Agregar el campo dinámicamente\nresult[key] = value;\n\nreturn [{ json: result }];"
      },
      "id": "6dcdd9f3-216d-444d-aa4a-190cfe8adb66",
      "name": "Transform Field",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2976,
        272
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "leads",
        "updateKey": "sessionId",
        "fields": "={{ Object.keys($json).filter(k => k !== 'sessionId').join(',') }}",
        "options": {}
      },
      "id": "1c48de30-a1dd-4e01-ad4d-b6d13d6234b9",
      "name": "Update MongoDB (Field)",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        -2624,
        272
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "KNCVFnX6uXTL664z",
          "name": "MongoDB n8n"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Incrementar índice y verificar si terminó el cuestionario\n// FIXED: Always include current_question_index in output for persistence\nconst questions = $('Filter Questions By Mode').item.json.questions;\nconst currentIndex = $('Get Current Question').item.json.current_index;\nconst totalQuestions = questions.length;\nconst newIndex = currentIndex + 1;\n\nconst sessionId =\n  $json.sessionId ||\n  $('Get Current Question').item.json.sessionId ||\n  $('Trigger').item.json.sessionId;\n\nconsole.log('[Check Finished]', { currentIndex, newIndex, totalQuestions });\n\n// Verificar si terminó\nif (newIndex >= totalQuestions) {\n  console.log('[Check Finished] Cuestionario completado - Solicitando confirmación');\n  return [{\n    json: {\n      action: \"summary\",\n      finished: true,\n      sessionId,\n      current_question_index: newIndex,\n      status: 'awaiting_confirmation'\n    }\n  }];\n}\n\n// Obtener siguiente pregunta\nconst nextQuestion = questions[newIndex];\n\nconsole.log('[Check Finished] Siguiente pregunta:', nextQuestion.text);\n\nreturn [{\n  json: {\n    action: \"ask\",\n    next_question: nextQuestion.text,\n    finished: false,\n    sessionId,\n    current_question_index: newIndex  // CRITICAL: Include for MongoDB update\n  }\n}];"
      },
      "id": "b3698d60-75bb-4029-98eb-bed2596ef996",
      "name": "Check If Finished",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2336,
        272
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "finished-check",
              "leftValue": "={{ $json.action }}",
              "rightValue": "summary",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8ad61143-93a0-4a24-bf50-4010ab3adaa1",
      "name": "IF Questionnaire Finished",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1888,
        272
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "awaiting-check",
              "leftValue": "={{ $('Trigger').item.json.status }}",
              "rightValue": "awaiting_confirmation",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d034fe8e-1aba-4703-8329-e8243657aeae",
      "name": "IF Awaiting Confirmation",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4288,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "// Maneja la respuesta de confirmación (SÍ/NO)\n// Returns via 3 outputs:\n// Output 0: qualified (go to Build Qualified Payload)\n// Output 1: reset/correct_field (go to Get Current Question to restart)\n// Output 2: retry_summary (go back to Generate Summary)\n\nconst msg = ($('Trigger').item.json.message || '').toLowerCase().trim();\nconst sessionId = $('Trigger').item.json.sessionId;\n\nconst isYes = /s[ií]|yep|si|correcto|confirmado|ok|est[aá] bien|yes/i.test(msg);\nconst isNo = /no|incorrecto|mal|cambiar|editar|corregir/i.test(msg);\n\nif (isYes) {\n  // Output 0: Qualified\n  return [[\n    {\n      json: {\n        action: 'qualified',\n        sessionId,\n        _confirmed: true,\n        status: 'qualified'\n      }\n    }\n  ]];\n}\n\nif (isNo) {\n  // Detect if user specified which field to correct\n  const fieldPatterns = {\n    email: /email|correo/i,\n    name: /nombre|name/i,\n    city: /ciudad|city/i,\n    country: /país|country|pais/i,\n    work_type: /trabajo|work.*type/i,\n    business_name: /negocio|empresa|business/i,\n    role: /rol|role|puesto/i,\n    business_model: /modelo|model/i,\n    team_size: /equipo|team/i,\n    ai_knowledge: /ia|ai|inteligencia/i,\n    main_challenge: /desafío|desafio|challenge|problema/i,\n    past_attempt: /intento|attempt|probado/i\n  };\n\n  let fieldToCorrect = null;\n  for (const [field, pattern] of Object.entries(fieldPatterns)) {\n    if (pattern.test(msg)) {\n      fieldToCorrect = field;\n      break;\n    }\n  }\n\n  if (fieldToCorrect) {\n    // Output 1: User specified a field - route to Get Current Question\n    const questions = $('Filter Questions By Mode').item.json.questions;\n    const questionIndex = questions.findIndex(q => q.key === fieldToCorrect);\n\n    return [null, [\n      {\n        json: {\n          action: 'correct_field',\n          field: fieldToCorrect,\n          current_question_index: questionIndex,\n          sessionId,\n          status: 'in_progress',\n          _correction_mode: true,\n          message: msg // Pass original message through\n        }\n      }\n    ]];\n  } else {\n    // Output 1: Generic \"No\" - reset to first question\n    return [null, [\n      {\n        json: {\n          action: 'reset',\n          sessionId,\n          _confirmed: false,\n          status: 'in_progress',\n          current_question_index: 0,\n          _reset_reason: 'user_correction_request',\n          message: msg\n        }\n      }\n    ]];\n  }\n}\n\n// Output 2: Si no entiende, re-preguntar el resumen\nreturn [null, null, [\n  {\n    json: {\n      action: 'retry_summary',\n      sessionId\n    }\n  }\n]];"
      },
      "id": "dea067d9-720d-4263-85e8-203d2d712f87",
      "name": "Handle Confirmation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4064,
        780
      ]
    },
    {
      "parameters": {
        "jsCode": "// Generar resumen según modo (full o minimal)\nconst leadData = $('Trigger').item.json;\nconst mode = $('Filter Questions By Mode').item.json.mode;\nconst lang = $('Filter Questions By Mode').item.json.language;\n\nconst templates = {\n  es: {\n    header: \"Perfecto, esto es lo que tengo:\\n\\n\",\n    footer: \"\\n\\n¿Confirmas que todo es correcto? (Responde Sí o No)\",\n    fields: {\n      name: \"👤 Nombre: \",\n      email: \"📧 Email: \",\n      country: \"🌍 País: \",\n      city: \"🏙️ Ciudad: \",\n      timezone: \"🕓 Zona Horaria: \",\n      work_type: \"🏢 Tipo de trabajo: \",\n      business_name: \"💼 Negocio: \",\n      role: \"👔 Rol: \",\n      business_model: \"💡 Modelo: \",\n      team_size: \"👥 Equipo: \",\n      ai_knowledge: \"🤖 Conocimiento de IA: \",\n      main_challenge: \"⚙️ Desafío: \",\n      past_attempt: \"🧠 Intentos previos: \"\n    }\n  },\n  en: {\n    header: \"Perfect, here's what I have:\\n\\n\",\n    footer: \"\\n\\nDo you confirm everything is correct? (Reply Yes or No)\",\n    fields: {\n      name: \"👤 Name: \",\n      email: \"📧 Email: \",\n      country: \"🌍 Country: \",\n      city: \"🏙️ City: \",\n      timezone: \"🕓 Timezone: \",\n      work_type: \"🏢 Work type: \",\n      business_name: \"💼 Business: \",\n      role: \"👔 Role: \",\n      business_model: \"💡 Model: \",\n      team_size: \"👥 Team: \",\n      ai_knowledge: \"🤖 AI knowledge: \",\n      main_challenge: \"⚙️ Challenge: \",\n      past_attempt: \"🧠 Past attempts: \"\n    }\n  }\n};\n\nconst t = templates[lang] || templates['es'];\nlet summary = t.header;\n\n// Campos obligatorios (siempre en ambos modos)\nconst requiredFields = ['name', 'email', 'country', 'city', 'timezone'];\nfor (const field of requiredFields) {\n  if (leadData[field]) {\n    summary += t.fields[field] + leadData[field] + \"\\n\";\n  }\n}\n\n// Campos opcionales (solo en modo full)\nif (mode === 'full') {\n  const optionalFields = [\n    'work_type', 'business_name', 'role', 'business_model',\n    'team_size', 'ai_knowledge', 'main_challenge', 'past_attempt'\n  ];\n  \n  for (const field of optionalFields) {\n    if (leadData[field]) {\n      summary += t.fields[field] + leadData[field] + \"\\n\";\n    }\n  }\n}\n\nsummary += t.footer;\n\nreturn [{\n  json: {\n    action: \"summary\",\n    summary: summary,\n    finished: true,\n    mode: mode,\n    sessionId: leadData.sessionId,\n    lead_data: leadData\n  }\n}];"
      },
      "id": "8bb5ce5e-4f9a-4ddb-9788-51c30d6ce3af",
      "name": "Generate Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1664,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Preparar payload para marcar el lead como esperando confirmación\n// INCLUIR el summary generado para que llegue al orquestador\nconst summaryData = $('Generate Summary').item.json;\n\nreturn [{\n  json: {\n    sessionId: summaryData.sessionId,\n    status: 'awaiting_confirmation',\n    action: 'summary',\n    summary: summaryData.summary,\n    finished: true\n  }\n}];"
      },
      "id": "4b2f40b5-d9b9-4eca-8fe4-f93ac7a9e351",
      "name": "Build Awaiting Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1440,
        200
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "leads",
        "updateKey": "sessionId",
        "fields": "status",
        "options": {}
      },
      "id": "88adf493-c8f5-4b6a-b72e-513ad84f6fc4",
      "name": "Update Status to Awaiting",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        -1216,
        200
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "KNCVFnX6uXTL664z",
          "name": "MongoDB n8n"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "return-error",
              "name": "action",
              "value": "={{ $json.action }}",
              "type": "string"
            },
            {
              "id": "return-error-msg",
              "name": "error_msg",
              "value": "={{ $json.error_msg }}",
              "type": "string"
            },
            {
              "id": "return-finished",
              "name": "finished",
              "value": "=false",
              "type": "boolean"
            },
            {
              "id": "return-session",
              "name": "sessionId",
              "value": "={{ $json.sessionId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f3990689-0c85-4fe0-9a0e-e069539d89dc",
      "name": "Return Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2976,
        464
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "return-action",
              "name": "action",
              "value": "={{ $json.action }}",
              "type": "string"
            },
            {
              "id": "return-question",
              "name": "next_question",
              "value": "={{ $json.next_question }}",
              "type": "string"
            },
            {
              "id": "return-finished-ask",
              "name": "finished",
              "value": "=false",
              "type": "boolean"
            },
            {
              "id": "return-index",
              "name": "current_question_index",
              "value": "={{ $json.current_question_index }}",
              "type": "number"
            },
            {
              "id": "return-session-ask",
              "name": "sessionId",
              "value": "={{ $json.sessionId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0cc0a030-a141-4889-aeb5-8c8d8376f1a8",
      "name": "Return Ask Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -992,
        272
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {
          "webSearch": {
            "searchContextSize": "low"
          }
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -2968,
        56
      ],
      "id": "87a908be-9f09-42f1-8c14-143c3bcf2b01",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "si6kdb1qPc1J6iuX",
          "name": "OpenAi Supabase Hybrid"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Given the following location details, return the most accurate IANA timezone name.\n\nCountry: {{ $json.country }}\nCity: {{ $json.city }}\n\nRemember:\n- Use your internal knowledge and web search if needed.\n- Respond **only** with valid JSON like this:\n{\"timezone\": \"America/Mexico_City\"}\n- If you cannot find a valid match, return:\n{\"timezone\": \"UNDEFINED\"}\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -3040,
        -168
      ],
      "id": "2bd44feb-1d20-468b-8bd0-a838f49b035e",
      "name": "timeZone retriver"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "sessionId"
            },
            {
              "name": "name"
            },
            {
              "name": "email"
            },
            {
              "name": "country"
            },
            {
              "name": "city"
            },
            {
              "name": "work_type"
            },
            {
              "name": "business_name"
            },
            {
              "name": "role"
            },
            {
              "name": "business_model"
            },
            {
              "name": "team_size"
            },
            {
              "name": "ai_knowledge"
            },
            {
              "name": "main_challenge"
            },
            {
              "name": "past_attempt"
            },
            {
              "name": "timezone"
            },
            {
              "name": "language"
            },
            {
              "name": "current_question_index"
            },
            {
              "name": "status"
            },
            {
              "name": "total_questions",
              "type": "number"
            },
            {
              "name": "mode"
            },
            {
              "name": "message"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -5408,
        220
      ],
      "id": "86f13123-538a-47fe-b2eb-cd6c4041d120",
      "name": "Trigger"
    },
    {
      "parameters": {
        "jsCode": "// Build payload para timezone con AI\nconst data = $json;\nreturn [{\n  json: {\n    sessionId: data.sessionId,\n    timezone: data.timezone || null,\n    city: data.city || null,\n    country: data.country || null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2336,
        -168
      ],
      "id": "a857af66-8dcf-4042-99de-b64eda52a9f7",
      "name": "Build Timezone Payload (AI)"
    },
    {
      "parameters": {
        "jsCode": "// Build payload para timezone sin AI\nconst data = $json;\nreturn [{\n  json: {\n    sessionId: data.sessionId,\n    timezone: data.timezone || null,\n    city: data.city || null,\n    country: data.country || null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2336,
        80
      ],
      "id": "60cedc60-a916-4760-97ee-80c5bf5be76b",
      "name": "Build Timezone Payload (No AI)"
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "leads",
        "updateKey": "sessionId",
        "fields": "status,mode,current_question_index",
        "options": {}
      },
      "id": "aa08f00b-ec2a-4845-b33d-e2ac2e256d18",
      "name": "Update Status to InProgress",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        -2624,
        -464
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "KNCVFnX6uXTL664z",
          "name": "MongoDB n8n"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepara payload para actualizar status al iniciar cuestionario\n// Y también prepara los datos de respuesta para retornar la primera pregunta\nconst data = $json;\nreturn [{\n  json: {\n    sessionId: data.sessionId,\n    status: 'in_progress',\n    mode: 'full',\n    // Response fields para retornar después del update\n    _response: {\n      action: data.action,\n      next_question: data.next_question,\n      current_question_index: data.current_question_index,\n      finished: data.finished,\n      sessionId: data.sessionId\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2976,
        -464
      ],
      "id": "867366bf-cc6d-42a9-8563-a637b14681e4",
      "name": "Build Status Payload"
    },
    {
      "parameters": {
        "jsCode": "// Retorna la respuesta de inicio de cuestionario después de actualizar status\nconst data = $('Build Status Payload').item.json._response;\nreturn [{\n  json: {\n    action: data.action,\n    next_question: data.next_question,\n    current_question_index: data.current_question_index,\n    finished: data.finished,\n    sessionId: data.sessionId\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2336,
        -464
      ],
      "id": "cd311888-b268-486a-8397-f65922e345c4",
      "name": "Return Start Response"
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "leads",
        "updateKey": "sessionId",
        "fields": "current_question_index",
        "options": {}
      },
      "id": "78a91992-9126-419c-935c-5ca48ea55a71",
      "name": "Update Question Index",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        -2112,
        272
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "KNCVFnX6uXTL664z",
          "name": "MongoDB n8n"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Preparar payload para marcar el lead como calificado\nconst data = $json;\nreturn [{\n  json: {\n    sessionId: data.sessionId,\n    status: 'qualified'\n  }\n}];"
      },
      "id": "d9863e1e-80c4-40cf-b5f0-d8abe0ebbaa5",
      "name": "Build Qualified Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3776,
        780
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "leads",
        "updateKey": "sessionId",
        "fields": "status",
        "options": {}
      },
      "id": "3107a57a-fd59-49d9-8b23-ca0c9990c028",
      "name": "Update Status to Qualified",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        -3488,
        780
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "KNCVFnX6uXTL664z",
          "name": "MongoDB n8n"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "leads",
        "updateKey": "sessionId",
        "fields": "={{ Object.keys($json).filter(k => !['sessionId', 'next_index', 'finished', 'next_question'].includes(k)).join(',') }}",
        "options": {}
      },
      "id": "95217eb1-5aeb-41d9-ad8a-7fa610f3b61a",
      "name": "Update Multiple Fields",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        -3264,
        -464
      ],
      "credentials": {
        "mongoDb": {
          "id": "KNCVFnX6uXTL664z",
          "name": "MongoDB n8n"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Escanea los datos actuales y encuentra la primera pregunta vacía\nconst lead = $('Trigger').item.json;\nconst aiOutput = $('AI Data Extractor').item.json.output || $('AI Data Extractor').item.json.text || '{}';\nconst questions = $('Filter Questions By Mode').item.json.questions;\n\nlet extracted = {};\ntry {\n  // ROBUST PARSING: Clean Markdown if AI ignores instructions\n  const cleanJson = typeof aiOutput === 'string' \n    ? aiOutput.replace(/```json|```/g, \"\").trim() \n    : aiOutput;\n    \n  extracted = typeof cleanJson === 'string' ? JSON.parse(cleanJson) : cleanJson;\n  console.log('[Find Next Empty] Extracted Data:', extracted);\n} catch (e) { \n  console.error('[Find Next Empty] AI Parse Error:', e.message);\n}\n\n// Merge lead con los nuevos datos extraídos\nconst currentData = { ...lead, ...extracted };\n\n// Buscar primer índice vacío\nlet nextIndex = 0;\nfor (let i = 0; i < questions.length; i++) {\n  const key = questions[i].key;\n  if (!currentData[key] || currentData[key] === 'No proporcionado') {\n    nextIndex = i;\n    break;\n  }\n  if (i === questions.length - 1) nextIndex = questions.length;\n}\n\nreturn [{\n  json: {\n    next_index: nextIndex,\n    finished: nextIndex >= questions.length,\n    next_question: nextIndex < questions.length ? questions[nextIndex].text : null,\n    sessionId: lead.sessionId,\n    // FLATTEN DATA: MongoDB node needs keys at the root of the input item\n    ...extracted\n  }\n}];"
      },
      "id": "e7cef48a-4ed3-4d1c-adb6-056cfb70db12",
      "name": "Find Next Question Index",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3488,
        -464
      ]
    },
    {
      "parameters": {
        "query": "=Información corporativa de {{ $('Trigger').item.json.business_name }}",
        "options": {
          "search_depth": "basic"
        }
      },
      "type": "@tavily/n8n-nodes-tavily.tavily",
      "typeVersion": 1,
      "position": [
        -2976,
        656
      ],
      "id": "6c4597d5-a440-466a-90c7-055918340851",
      "name": "Search",
      "credentials": {
        "tavilyApi": {
          "id": "W0dexWLOaXVQdDMP",
          "name": "Tavily"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -3768,
        -240
      ],
      "id": "e3e6043a-3284-483f-97ed-7f31894822f6",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "si6kdb1qPc1J6iuX",
          "name": "OpenAi Supabase Hybrid"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -2616,
        880
      ],
      "id": "5870c022-ec05-4622-ab0b-417e9f23031c",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "si6kdb1qPc1J6iuX",
          "name": "OpenAi Supabase Hybrid"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "typeVersion": 2.1,
      "position": [
        -2688,
        656
      ],
      "id": "8890ed98-9d53-47a4-9421-944923a811ae",
      "name": "Summarization Chain"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2026-01-19T13:20:17.314Z",
      "createdAt": "2026-01-19T13:20:17.314Z",
      "role": "workflow:owner",
      "workflowId": "3tPqNquDs6jC5YS8",
      "projectId": "zIvgruNDMJwjqAqX"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-01-21T23:01:39.898Z",
      "createdAt": "2026-01-21T23:01:39.898Z",
      "id": "Zwh4WKFsghqdDdGj",
      "name": "Dania_Claude"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-01-22T06:00:30.000Z",
  "versionId": "f1ff90e5-7d36-463b-90e5-32e620725542"
}