workflows/My workflow 8
{
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "name": "My workflow 8",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -624,
        -80
      ],
      "id": "a77923a4-748e-436e-9afd-47331cf78a6b",
      "name": "When chat message received",
      "webhookId": "e1434148-5b15-423c-8855-56874bc2e2e6"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "Eres un especialista en conversion horaria, el uusario te va a decir el pais , si el pais tiene mas de una zona horaia le vas a preguntar la ciudady le confirmaras la hora actua de su pois vs la tuya identificando la diferencia en horas"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -416,
        -80
      ],
      "id": "bf70aff5-6997-4fef-8f6e-5700b61d5362",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {
          "webSearch": {
            "searchContextSize": "low",
            "country": "MX"
          }
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -560,
        128
      ],
      "id": "52e72121-b20c-4014-b980-03999362d364",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "si6kdb1qPc1J6iuX",
          "name": "OpenAi Supabase Hybrid"
        }
      }
    }
  ],
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null
}