workflows/RAG AI Agent with Milvus and Cohere.json
{
  "active": false,
  "connections": {
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI 4o": {
      "ai_languageModel": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Set Chunks": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Download New": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Watch New Files": {
      "main": [
        [
          {
            "node": "Download New",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cohere embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Retrieve from Milvus",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Insert into Milvus",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Insert into Milvus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert into Milvus",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve from Milvus": {
      "ai_tool": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "RAG Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-30T19:46:20.385Z",
  "id": "rFrFdwZmAhYN10Sk",
  "isArchived": false,
  "meta": null,
  "name": "RAG AI Agent with Milvus and Cohere",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "ca6d776c-a482-4b77-a16b-535e7b29bfa5",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        720,
        112
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "modelName": "embed-multilingual-v3.0"
      },
      "id": "7b4bb23a-e8c4-457b-b574-49b4eecee4fa",
      "name": "Embeddings Cohere",
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "position": [
        592,
        112
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5c808805-cc87-4953-a968-eaf93e01ae99",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        -80,
        320
      ],
      "webhookId": "a4257301-3fb9-4b9d-a965-1fa66f314696",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "mode": "list",
          "value": "15gjDQZiHZuBeVscnK8Ic_kIWt3mOaVfs",
          "cachedResultUrl": "https://drive.google.com/drive/folders/15gjDQZiHZuBeVscnK8Ic_kIWt3mOaVfs",
          "cachedResultName": "RAG template"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "73ce73c0-67b7-40f4-a826-803b2dc2b9fe",
      "name": "Watch New Files",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        -80,
        -112
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {}
      },
      "id": "f754fd3e-1a9b-4f98-a306-ee1c8135bbf4",
      "name": "Download New",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        144,
        -112
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "mode": "insert",
        "milvusCollection": {
          "__rl": true,
          "mode": "list",
          "value": "collectionName",
          "cachedResultName": "collectionName"
        },
        "options": {
          "clearCollection": false
        }
      },
      "id": "5cd09501-70c6-4b21-86a7-982550207374",
      "name": "Insert into Milvus",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreMilvus",
      "position": [
        608,
        -112
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "1a1d56f5-3a24-4b8d-ba68-69a5ec0dbbff",
      "name": "RAG Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        192,
        320
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "vector_store",
        "toolDescription": "You are an AI agent that responds based on information received from a vector database.",
        "milvusCollection": {
          "__rl": true,
          "mode": "list",
          "value": "collectionName",
          "cachedResultName": "collectionName"
        },
        "topK": 10
      },
      "id": "29057538-7ab9-458f-ab2f-ea425eb34e21",
      "name": "Retrieve from Milvus",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreMilvus",
      "position": [
        384,
        528
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "id": "86c75b6d-855c-4f50-9bb7-18dba9ce14c5",
      "name": "OpenAI 4o",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        144,
        528
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {},
      "id": "49847c77-4ddc-42c4-858f-953f5dfb7156",
      "name": "Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        272,
        528
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "modelName": "embed-multilingual-v3.0"
      },
      "id": "78103c21-c9e7-4463-ad19-18a5eb56c394",
      "name": "Cohere embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "position": [
        512,
        688
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkSize": 700,
        "chunkOverlap": 60,
        "options": {}
      },
      "id": "ef521081-82b9-45b7-829a-16b1ddb32d0b",
      "name": "Set Chunks",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        800,
        272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "0722e593-3f5b-4e61-aa7f-7985bf5b45ad",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        368,
        -112
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Why Milvus\nBased on comparisons and user feedback, **Milvus is often considered a more performant and scalable vector database solution compared to Supabase**, particularly for demanding use cases involving large datasets, high-volume vector search operations, and multilingual support.\n\n\n### Requirements\n- Create an account on [Zilliz](https://zilliz.com/) to generate the Milvus cluster. \n- There is no need to create docker containers or your own instance, Zilliz provides the cloud infraestructure to build it easily\n- Get your credentials ready from Drive, Milvus (Zilliz), and [Cohere](https://cohere.com)\n\n### Usage\nEvery time a new pdf is added into the Drive folder, it will be inserted into the Milvus Vector Store, allowing for the interaction with the RAG agent in seconds.\n\n## Calculate your company's RAG costs\n\nWant to run Milvus on your own server on n8n? Zilliz provides a great [cost calculator](https://zilliz.com/rag-cost-calculator/)\n\n### Get in touch with us\nWant to implement a RAG AI agent for your company? [Shoot us a message](https://1node.ai)\n",
        "height": 600,
        "width": 540,
        "color": 2
      },
      "id": "f693e691-52f7-400b-8197-b6923739457b",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -720,
        -96
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-30T19:46:20.387Z",
      "updatedAt": "2025-10-30T19:46:20.387Z",
      "role": "workflow:owner",
      "workflowId": "rFrFdwZmAhYN10Sk",
      "projectId": "zIvgruNDMJwjqAqX"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-10-25T13:14:44.642Z",
      "updatedAt": "2025-10-25T13:14:44.642Z",
      "id": "0oNuANLPfnSkzFDA",
      "name": "DatabaseStorage"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-10-30T19:46:20.385Z",
  "versionId": "8c6d51a6-3226-4ba3-8414-f2ee4bea53e1"
}