workflows/RAG Pipelines.json
{
  "active": false,
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger1": {
      "main": [
        [
          {
            "node": "Delete a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger2": {
      "main": [
        [
          {
            "node": "Delete a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-28T22:06:50.756Z",
  "id": "X5LbOH6WKTQi2qP4",
  "isArchived": false,
  "meta": null,
  "name": "RAG Pipelines",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1rP7a--_p5TVL0sl4PMWXpkdnLeyXAKmy",
          "mode": "list",
          "cachedResultName": "RAG",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1rP7a--_p5TVL0sl4PMWXpkdnLeyXAKmy"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        784,
        272
      ],
      "id": "13af27b7-6649-46cd-8ba1-5897426c237e",
      "name": "Google Drive Trigger"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        992,
        272
      ],
      "id": "60f19f7a-7407-40f2-b9da-d720c388f1a8",
      "name": "Download file"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1200,
        272
      ],
      "id": "d44861a9-7244-4519-b948-60bcde1b4665",
      "name": "Supabase Vector Store"
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "fileName",
                "value": "={{ $json.name }}"
              },
              {
                "name": "date",
                "value": "={{ $now }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1328,
        416
      ],
      "id": "662c5691-2b40-4e44-96cc-0fc735d1c343",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1152,
        416
      ],
      "id": "a2c4a5e5-4772-4f72-9e94-107462057f18",
      "name": "Embeddings OpenAI"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        960,
        -128
      ],
      "id": "e195c4d4-ac9a-43e0-be9f-340d57550293",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        800,
        -128
      ],
      "id": "fbed0e49-da12-43a0-81a2-16f01132e540",
      "name": "When chat message received",
      "webhookId": "60ef0174-4d66-458b-977d-3fcf4094f321"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        944,
        16
      ],
      "id": "cb5859e8-5995-418e-8cbf-b1f4fd3f1e4d",
      "name": "OpenRouter Chat Model"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this to get information from your knowledge base.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1248,
        -128
      ],
      "id": "01d662a9-762a-4ec0-87f2-7f4cf21bab82",
      "name": "Supabase Vector Store1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1296,
        16
      ],
      "id": "1743834d-afaf-432f-93ad-5721e2e29158",
      "name": "Embeddings OpenAI1"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1rP7a--_p5TVL0sl4PMWXpkdnLeyXAKmy",
          "mode": "list",
          "cachedResultName": "RAG",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1rP7a--_p5TVL0sl4PMWXpkdnLeyXAKmy"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        784,
        672
      ],
      "id": "23791f14-b301-4dab-aae4-ea2d0f03b76c",
      "name": "Google Drive Trigger1"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>fileName=like.*{{ $json.name }}"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        928,
        672
      ],
      "id": "7e095136-b3d7-4bb9-8e3a-f0eb519ba13b",
      "name": "Delete a row"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1216,
        672
      ],
      "id": "31121c16-f4f1-4b83-833e-6d802006a608",
      "name": "Supabase Vector Store2"
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "fileName",
                "value": "={{ $('Google Drive Trigger1').item.json.name }}"
              },
              {
                "name": "date",
                "value": "={{ $now }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1328,
        832
      ],
      "id": "67e82a73-cd3d-4c2e-b182-8956b33dfbe1",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1152,
        832
      ],
      "id": "080c0820-86b5-43bd-ba45-7a1a65936bb4",
      "name": "Embeddings OpenAI2"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger1').item.json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1072,
        672
      ],
      "id": "fc93c05d-2af9-46e2-9ffe-c44639a0364e",
      "name": "Download file1",
      "executeOnce": true
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1r2Mquv0KFvwzVVsvTb3stzRugQdbDc72",
          "mode": "list",
          "cachedResultName": "Recycling Bin",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1r2Mquv0KFvwzVVsvTb3stzRugQdbDc72"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        800,
        1120
      ],
      "id": "002fd0c8-5ddd-48e3-ad7a-89548f1c5083",
      "name": "Google Drive Trigger2"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>fileName=like.*{{ $json.name }}"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        992,
        1120
      ],
      "id": "e0636b38-f727-465c-b011-51f8419a5103",
      "name": "Delete a row1"
    },
    {
      "parameters": {
        "content": "# 🛠️ Setup Guide  \n**Author:** [Nate Herk](https://www.youtube.com/@nateherk)\n\nFollow these steps to get the n8n workflow system running smoothly:\n\n### ✅ Step 1: Connect Your Google Drive Credentials  \nMake sure your **Google Drive trigger** is authorized and set to watch the appropriate folder for new file drops.\n\n### ✅ Step 2: Connect Your Supabase Credentials  \nHook up your **Supabase** project so n8n can insert and manage vector data.\n\n### ✅ Step 3: Connect Your Chat & Embeddings Models  \nUse [OpenRouter](https://openrouter.ai/) for flexible model access and [OpenAI](https://platform.openai.com/) for embedding generation.\n\n### ✅ Step 4: Drop a Doc into the Trigger Folder  \nUpload a file into the folder being watched by **Pipeline 1** (new doc trigger). Confirm it’s inserted into Supabase and available to your agents.\n\n### ✅ Step 5: Update the Doc  \nModify the same document. This should trigger **Pipeline 2 (update doc)**, which should:  \n- Remove old rows from Supabase  \n- Insert the new version cleanly\n\n### ✅ Step 6: Move the File to the Recycling Bin  \nDrag the document into the \"recycling bin\" folder. This should trigger **Pipeline 3 (delete doc)** and clean up the corresponding vectors in Supabase.\n\n### 🧪 Final Step: Test and Iterate  \nTry different document types and metadata formats. Make sure your agents can accurately retrieve and respond to your queries.\n",
        "height": 736,
        "width": 1040
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -368,
        -224
      ],
      "id": "6aee798d-6086-464f-ae7d-398be4a13a63",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# RAG Agent",
        "height": 384,
        "width": 880,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        688,
        -224
      ],
      "id": "9dc4c19d-8396-4769-b53a-f0e8a7bedb3a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Pipeline 1 (Upload Doc)",
        "height": 384,
        "width": 880,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        688,
        176
      ],
      "id": "f40978da-1f21-4ce9-aa37-0381eabd7697",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Pipeline 2 (Update Doc)",
        "height": 384,
        "width": 880,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        688,
        576
      ],
      "id": "afb30f80-f257-4d5c-8d43-fbd82a6723ce",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# Pipeline 3 (Delete Doc)",
        "height": 384,
        "width": 880,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        688,
        976
      ],
      "id": "9ad612b8-09c3-4b9d-8c92-606363157acd",
      "name": "Sticky Note4"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-28T22:06:50.759Z",
      "updatedAt": "2025-10-28T22:06:50.759Z",
      "role": "workflow:owner",
      "workflowId": "X5LbOH6WKTQi2qP4",
      "projectId": "zIvgruNDMJwjqAqX"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-10-25T13:14:44.642Z",
      "updatedAt": "2025-10-25T13:14:44.642Z",
      "id": "0oNuANLPfnSkzFDA",
      "name": "DatabaseStorage"
    },
    {
      "createdAt": "2025-10-28T22:08:08.254Z",
      "updatedAt": "2025-10-28T22:08:08.254Z",
      "id": "bnbbAbAbadWtcPIp",
      "name": "Ai Automation Society"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-10-28T22:08:10.000Z",
  "versionId": "8752f2b1-d4c1-493e-8886-1bdd8d9cede4"
}