workflows/Test Calendar - FIXED
{
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Validar Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Usuario": {
      "main": [
        [
          {
            "node": "Normalizar Datos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Usuario No Autorizado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Datos": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM: OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory: Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Enviar Respuesta a Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check_availability": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Booking": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Re_schedulling": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Cancel_booking": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "name": "Test Calendar - FIXED",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1536,
        -688
      ],
      "id": "1eed1bc3-5d6e-4ffd-b2e5-be6a7de95342",
      "name": "Telegram Trigger",
      "webhookId": "61d2021b-f0b5-4e00-a4bd-45fc323996ae",
      "credentials": {
        "telegramApi": {
          "id": "ZnnqJZvoQL8Ki07s",
          "name": "Telegram empathoai_bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b40e165d-2add-42a6-84b9-de44936a0f02",
              "leftValue": "={{ $json.message.from.id }}",
              "rightValue": 8162715695,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1296,
        -688
      ],
      "id": "237d8ee7-896a-42b6-a084-89d71f60c158",
      "name": "Validar Usuario"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "extract_message",
              "name": "messages",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "extract_session",
              "name": "sessionId",
              "value": "={{ $json.message.chat.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -992,
        -704
      ],
      "id": "b7cc1417-c5a3-4926-920e-193313c5db8e",
      "name": "Normalizar Datos"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -944,
        -496
      ],
      "id": "9052759d-7588-4cef-aee0-1d147edbfe3c",
      "name": "LLM: OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "si6kdb1qPc1J6iuX",
          "name": "OpenAi Supabase Hybrid"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -816,
        -480
      ],
      "id": "57e51fc9-32bb-405c-b5ef-65da9d6b2c83",
      "name": "Memory: Simple Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=FECHA Y HORA ACTUAL: {{ DateTime.now().setZone('America/Bogota').toFormat('MMMM dd, yyyy, hh:mm a') }}\n\nEl usuario envia el siguiente mensaje:\n{{ $json.messages }}\n\nTelephone/Chat ID: {{ $json.sessionId }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Eres un agendador de citas profesional.\n\nZONA HORARIA DEL CLIENTE: America/Bogota (offset: -05:00)\n\nTU TAREA:\n1. Pregunta directamente al usuario QUE DIA y QUE HORA quiere agendar una cita\n2. Si el usuario confirma fecha y hora, confirma: Entendi que quieres agendar para [DIA] a las [HORA]. Es correcto?\n3. Solo despues SIEMPRE usa la herramienta check_availability\n\nFORMATO DE DATETIME:\n- Usa SIEMPRE: ISO 8601 con offset de zona horaria\n- Formato exacto: YYYY-MM-DDTHH:MM:SS-05:00\n- Ejemplo: 2025-11-11T18:00:00-05:00\n\nEJEMPLOS:\nUsuario: Manana a las 18:00 -> 2025-11-11T18:00:00-05:00\nUsuario: Hoy a las 14:00 -> 2025-11-10T14:00:00-05:00\n\nIMPORTANTE:\n- Mantén el offset -05:00\n- Confirma SIEMPRE antes de usar la herramienta"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -656,
        -752
      ],
      "id": "de363a8c-8c3e-4377-b366-c4b82da6fa74",
      "name": "AI Agent",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "description": "Check availability in Calendar",
        "workflowId": {
          "__rl": true,
          "value": "laQFG3unykoABYOG",
          "mode": "list",
          "cachedResultUrl": "/workflow/laQFG3unykoABYOG",
          "cachedResultName": "check_availability"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "datetime": "={{ $fromAI('datetime', ``, 'string') }}"
          },
          "matchingColumns": [
            "datetime"
          ],
          "schema": [
            {
              "id": "datetime",
              "displayName": "datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -816,
        -192
      ],
      "id": "40968656-8a9a-4bd9-a517-44305bfd4ddb",
      "name": "Check_availability"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -624,
        -192
      ],
      "id": "b0c1ba56-c917-4629-ac7e-a75ac67ba5cf",
      "name": "Booking",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -464,
        -192
      ],
      "id": "bd3d9cb3-0b27-411d-ac5a-71da03f5394c",
      "name": "Re_schedulling",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -288,
        -192
      ],
      "id": "a20083d3-ced8-4257-ab77-b199ad6f489b",
      "name": "Cancel_booking",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1424,
        -448
      ],
      "id": "323c1a90-773a-4813-b37c-873525c473a4",
      "name": "Usuario No Autorizado"
    },
    {
      "parameters": {
        "chatId": "={{ $('Normalizar Datos').item.json.sessionId }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -256,
        -768
      ],
      "id": "9ad6a916-9a50-4c92-9dee-6334e4fdfc67",
      "name": "Enviar Respuesta a Telegram",
      "webhookId": "12887c42-e2b2-412b-86c2-24f3e311013c",
      "credentials": {
        "telegramApi": {
          "id": "ZnnqJZvoQL8Ki07s",
          "name": "Telegram empathoai_bot"
        }
      }
    }
  ],
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null
}