workflows/Yoitube Video Posting.json
{
  "active": false,
  "connections": {
    "Get YouTube Videos": {
      "main": [
        [
          {
            "node": "Check if New Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Social Media Manager": {
      "main": [
        [
          {
            "node": "Check if Video Was Posted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Social Media Manager",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Filter Valid Videos": {
      "main": [
        [
          {
            "node": "AI Social Media Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Posted Videos Log": {
      "ai_tool": [
        [
          {
            "node": "AI Social Media Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Shared Videos Sheet": {
      "ai_tool": [
        [
          {
            "node": "AI Social Media Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Check if New Video": {
      "main": [
        [
          {
            "node": "Filter Valid Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Social Media Manager",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get YouTube Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-25T14:05:21.040Z",
  "id": "w0M4Od8kDgZOx91w",
  "isArchived": false,
  "meta": null,
  "name": "Yoitube Video Posting",
  "nodes": [
    {
      "parameters": {
        "resource": "video",
        "limit": 10,
        "filters": {
          "channelId": "YOUR_YOUTUBE_CHANNEL_ID",
          "publishedAfter": "={{DateTime.now().minus({days: 10}).toISO()}}"
        },
        "options": {
          "order": "date"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        -384,
        -176
      ],
      "id": "21ce20cf-2561-4de0-af6e-c4b2d4c17e93",
      "name": "Get YouTube Videos"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=New Youtube Video Has been posted on my Channel {{ $json.snippet.channelTitle }}",
        "options": {
          "systemMessage": "=You are an intelligent social media manager for a YouTube channel. Your task is to:\n\n1. **FIRST**: Check if {{ $json.id.videoId }} has been added to the sheet logs by searching the Google Sheet \"Posted Videos Log\". If the id was NOT in the sheet, create a new message for WhatsApp (Only check it once to avoid flow errors like not posting a video that was actually not posted)\n\n2. **THEN**: For NEW videos (not found ID in the sheet), create engaging WhatsApp message following the \"Message Template That Must be Replicated\" below. Otherwise, if the ID was already in the sheets, create the following message: \"The current video was already posted\".\n\n3. **FINALLY**: Use the tool to log it in the \"YouTube Shared Videos Sheet\" Tool\n\n**Current videos to process:**\n{{ $json.snippet.title }}\n\n**IMPORTANT - Message Generation Instructions:**\nFor each NEW video, generate a complete WhatsApp message following this format:\n\n**MESSAGE STRUCTURE:**\n- Start with an engaging emoji and announcement\n- Include the video title {{ $json.snippet.title }} in **bold formatting**\n- Add a brief, exciting description {{ $json.snippet.description }}\n- Include the YouTube URL https://youtu.be/{{ $json.id.videoId }}\n- End with \"If you have further questions, do not hesitate to contact us! :)\"\n- Make each message unique and engaging\n\n**Message Template That Must be Replicated:** \n🔥 *¡Nuevo Video de WaliChat!*\n\n*{{ $json.snippet.title }}*\n\n{{ $json.snippet.description }}\n\n👉 Mira Ahora: https://youtu.be/{{ $json.id.videoId }}\n\n¡Si tienes más preguntas, no dudes en contactarnos! :)\n\n**Process each video individually and only post NEW ones that haven't been posted before.**"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        448,
        -192
      ],
      "id": "11469cb0-7645-48b6-8950-63c0515296f1",
      "name": "AI Social Media Manager"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "youtube_whatsapp_session_{{ DateTime.now().toFormat('yyyy-MM-dd') }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        480,
        64
      ],
      "id": "9d6fa246-42ff-4f6d-aacf-7f9fc4959ddf",
      "name": "Daily Memory"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.id }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        160,
        -176
      ],
      "id": "0841eca2-c034-4310-84a1-3733ac793722",
      "name": "Filter Valid Videos"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "YouTube Shared Videos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "VIDEO ID",
              "lookupValue": "={{ $fromAI('values0_Value', ``, 'string') }}"
            },
            {
              "lookupColumn": "IS POSTED?",
              "lookupValue": "Yes"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        640,
        64
      ],
      "id": "330b7ea9-1343-43df-bead-95667a762a25",
      "name": "Posted Videos Log"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "YouTube Shared Videos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "VIDEO ID": "={{ $fromAI('VIDEO_ID__using_to_match_', ``, 'string') }}",
            "IS POSTED?": "=Yes"
          },
          "matchingColumns": [
            "VIDEO ID"
          ],
          "schema": [
            {
              "id": "VIDEO ID",
              "displayName": "VIDEO ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "IS POSTED?",
              "displayName": "IS POSTED?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        848,
        32
      ],
      "id": "a8a3c284-4f1d-48e9-8f9e-8f4cc9cd116b",
      "name": "YouTube Shared Videos Sheet"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-wassenger.wassenger",
      "typeVersion": 1,
      "position": [
        1104,
        -208
      ],
      "id": "1cf41dd6-dee5-4f15-9113-58546de2c592",
      "name": "Wassenger",
      "credentials": {}
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-video-exists",
              "leftValue": "={{ $json.id.videoId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -144,
        -176
      ],
      "id": "77b3d9c0-a5fe-4a9f-a956-e74845d75296",
      "name": "Check if New Video"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-already-posted",
              "leftValue": "={{ $json.output }}",
              "rightValue": "The current video was already posted",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        848,
        -192
      ],
      "id": "028c852c-31b0-4d89-a837-6c63fd30f429",
      "name": "Check if Video Was Posted"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        336,
        64
      ],
      "id": "55af4cba-bc6a-4930-89d7-6bf3ad419e86",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "xenY6K4Lpy47eCcn",
          "name": "OpenAi ApPollos"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -624,
        -176
      ],
      "id": "e11dca63-6dca-4d24-9912-bc2ea13099af",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-25T14:05:21.042Z",
      "updatedAt": "2025-10-25T14:05:21.042Z",
      "role": "workflow:owner",
      "workflowId": "w0M4Od8kDgZOx91w",
      "projectId": "zIvgruNDMJwjqAqX"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-10-28T19:25:13.764Z",
      "updatedAt": "2025-10-28T19:25:13.764Z",
      "id": "tWgoeN08uTcxufpm",
      "name": "Youtube"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-10-28T19:25:15.000Z",
  "versionId": "71099072-4ec6-4e90-b6fd-a67f7f14cee8"
}